[2019-02-07 23:37] tesseralis opened #1 "Russian Translation Progress"
## Текущий список мейнтейнеров

* 🥇  @lex111
* @gaearon
* @another-guy
* @Heegiiny
* @gcor
* @ntishkevich

_Если у вас есть время и желание, и вы уже участвуете в развитии проекта, то можете создать пулреквест с добавлением своего логина в список мейнтейнеров в [этом](https://github.com/reactjs/reactjs.org-translation) репозитории._

* * *

## Как помочь с переводом

Вы можете перевести страницу и

[2019-02-08 07:16] ModPhoenix commented on #1
I took this page in translation: Basics -> Hello World. Tonight will do PR.

[2019-02-08 13:24] doasync commented on #1
It can help: https://learn-reactjs.ru

[2019-02-08 15:12] polling commented on #1
Hey. I want to help you too.

[2019-02-08 18:00] lex111 commented on #1
Hi @stsiushkevich,

You have done a lot of translation work, it's very cool! :+1:
But would you like to join the official Russian translation? That was great... Moreover, why should we have **two** translations, let's join our efforts to create **only one** translation on React, what do you think about this?

[2019-02-08 18:12] another-guy commented on #1
@lex111 @tesseralis I'd like to get a bit of coordination/direction here. Couple of questions:

- **First**: Should I wait until we decide whether we want to get the official translation based of the one by @stsiushkevich? Or is it okay to pick a page to translate now (if so, I'd pick the **Introducing JSX** tentatively)?
  Using existing progress will definitely save the translation time but will

[2019-02-08 18:30] lex111 commented on #1
Regardless of the decision of @stsiushkevich, we will do our own translation, i.e. definitely not copy and paste, which is wrong and _violates copyright_. But this was a great collaboration, of course, so I hope for a favorable solution...

Regarding to:

Of course, you can already do the translation!

By the way, check out my partial translation (https://github.com/js-ru/react-ru), maybe this wil

[2019-02-08 18:56] another-guy commented on #1
@lex111  Thank you for clarification.

I'm removing the paragraph about Crowdin from this issue's description to avoid confusion among new contributors.

[2019-02-08 18:57] lex111 opened #3 "Russian Translation Progress [restored]"
The situation is discussed here: https://github.com/orgs/reactjs/teams/reactjs-org-localization/discussions/10

---

## For New Translators

To translate a page:

1. Check that no one else has claimed your page in the checklist and comments below.
2. Comment below with the name of the page you would like to translate. **Take only one page at a time**.
3. Submit a PR and add it to your comment!

**

[2019-02-08 19:04] another-guy opened #4 "Discussing glossary and style guide on translation"
Обсуждаем здесь любые вопросы, пожелания и предложения, связанные с руководством по переводу, включая перевод терминов и слов.

[2019-02-08 19:13] another-guy commented on #4
![image](https://user-images.githubusercontent.com/5762340/52499936-88fc5000-2b91-11e9-82e6-4eede133c95a.png)

* Word "bug" should definitely not be translated as "error" to Russian. Suggestion: `дефект` (similarly to "defect" which is close to "bug"), or `баг` which is informal, but absolutely omni-present and understood by everyone.

* Word "reuse" to only be translated as "повторное использован

[2019-02-08 19:15] another-guy commented on #4
@lex111 your input would be valuable on this one since you're authoring the `TRANSLATION.md` file.

Also, would we prefer to have a separate Git issue per word/term being discussed when necessity arises?

[2019-02-08 19:28] lex111 commented on #4
It's true this word is not and will be in the dictionaries, but it is still [used](https://www.google.com/search?num=20&newwindow=1&ei=T9VdXLG5GYv16QSe0K2gDw&q=%22%D0%BF%D0%B5%D1%80%D0%B5%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%22&oq=%22%D0%BF%D0%B5%D1%80%D0%B5%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5%22&gs_l=psy-ab.3..0l2j

[2019-02-08 19:31] another-guy commented on #4
Thanks for the reference to Multitran. I can rollback a commit regarding this word then (see PR).

[2019-02-08 19:40] lex111 commented on #4
Думаю, уместнее всего здесь писать на русском, предлагаю также добавить в файл ссылку на этот словарь.

Нужно определиться с тем как переводить **props**, в русском переводе Vue, данный термин переводится _входные параметры_  (https://ru.vuejs.org/v2/guide/components-props.html)

[2019-02-08 19:52] another-guy commented on #4
Мои пять копеек это поставить вопрос чуть иначе: _стоит ли переводить **props** вообще_. Я не живу в русско-говорящей стране, поэтому не знаю, что в _разговорном_ обиходе для **props**.

Варианты:
* транслитерировать как проп(с?) -- гадость;
* перенять _входные параметры_ как во Vue -- мне не нравится, потому что это далеко от дословного _input parameters_ и усложнит обратный перевод (reverse look

[2019-02-08 20:10] #3 closed

[2019-02-08 20:15] lex111 commented on #1
@tesseralis small amendment, **@stsiushkevich** is author learn-reactjs.ru, not @doasync.

[2019-02-08 20:45] gaearon commented on #4
Я в целом за пропсы. На практике так все по-моему и говорят.

[2019-02-08 21:07] Heegiiny commented on #1
I will translate the Basics >Rendering Elements page.

[2019-02-08 21:13] gaearon commented on #1
I suggest a principle we should follow throughout the translations: https://github.com/reactjs/ru.reactjs.org/pull/6

[2019-02-08 21:14] gaearon commented on #4
Про стиль: https://github.com/reactjs/ru.reactjs.org/pull/6

[2019-02-08 21:28] another-guy commented on #1
@gaearon I think the living word principle will make things a bit subjective. Yet I agree it's important to follow it to establish rapport with the readers and to win their attention. Thanks for raising the bar early in the process!

[2019-02-08 21:45] gaearon commented on #1
I agree it's subjective and we should follow common sense. I'm mostly adding this so that we hold clear language as an explicit value — even if we can't always live up to it.

[2019-02-08 23:08] gaearon commented on #4
Надо определиться по поводу:

* refs — рефы?
* keys — ключи?
* reconciliation — можно оставить так, можно "согласование"
* render — отрисовка? рендер?

Меня очень беспокоит render потому что в реакте рендер не занимается рисованием (paint). Как раз-таки наоборот — весь рендеринг происходит перед коммитом и пейнтом. Про это и так уже по-айнглийски путаются. Я думаю, может просто оставить «рендеринг

[2019-02-08 23:29] ai commented on #4
Мне пока тоже кажется, что «рендер» лучшая вещь:

1. Мы говорим не о каком-то шаге, а о конкретном методе конкретного фреймворка.
2. Транслитированый «рендер» лучше render, так как его легкче склонять и он лучше вписывается в язык (ну и раскладку переключать не надо).
3. Я думаю многие кто используют функцию `render` не думаю, что это именно отрисовка (в значении прямого перевода слова).

Хотя есл

[2019-02-08 23:30] gaearon commented on #4
Будешь смеяться, но он изначально назывался structure в древней внутренней версии 2011 года.

[2019-02-08 23:31] gaearon commented on #4
Еще стоит иметь в виду, что со временем классы отойдут на второй-третий план, и название метода перестанет мелькать. По смыслу мы будем каждый раз говорить о «выполнении» функции.

[2019-02-08 23:32] pepelsbey commented on #4
Если не терять контекста (мол, мы в Реакте), то всегда будет понятно, что такое «рендер».

Если в общем, я бы шёл по тропинкам, которые прокладывает сообщество. То есть буквально: послушать топовые русскоязычные доклады по Реакту и записать, как там говорят. Это будет настоящая документация.

[2019-02-08 23:33] gaearon commented on #4
Тогда думаю рендер и рендеринг будет, но будет хорошо, если кто-то уточнит.

[2019-02-08 23:38] gaearon commented on #4
Render: https://github.com/reactjs/ru.reactjs.org/pull/9

[2019-02-08 23:39] tesseralis commented on #1
@gaearon Dan, do you want to publish a version of that in English for the other translations to reference?

[2019-02-08 23:43] gaearon commented on #1
@tesseralis I'm not sure how much it applies to other languages. Russian is sufficiently different from English that noun-heavy phrasing gets clumsy. But that might not be a problem in e.g. French. I wouldn't be able to carry that nuance across.

[2019-02-08 23:50] tesseralis commented on #1
Ah, gotcha! ^_^

[2019-02-09 00:09] neustroev commented on #4
Привет! 👋
Бегло просмотрел [/tutorial/tutorial.html](https://reactjs.org/tutorial/tutorial.html) - у меня больше вопросов, чем решений, но подумал, что все равно стоит их задать:
- `feature` - если есть "баг", то должна быть и "фича"? :)
- `to mutate`, его производные (`immutability`, "мутабельность", "изменяемость"?) и отличие от `to change` ([из]менять), если таковое необходимо?
- `lifting state

[2019-02-09 00:17] verkholantsev commented on #4
Может быть все-таки дать шанс термину «свойства»? Есть у него какие-то отрицательные стороны?

[2019-02-09 00:21] gaearon commented on #4
Думаю, что да. У «свойств» есть две проблемы:

* Properties это тоже свойства. (Object properties)
* В реакте компонент владеет своим состоянием, а пропсы получает от родителя. Но «свойство» происходит от «свой». Неизбежна путаница с традиционным OO-подходом, где каждый объект распоряжается своими свойствами, и их можно get и set. Реакт избегает этой проблемы, искажая слово в английском.

[2019-02-09 00:35] lex111 commented on #4
Как я заметил по текстам и докладам, в контексте React под _рендером_ и _отрисовка_ - одно и то же (имеется в виду сам процесс, а не название функции). И даже если говорят _рендерит_, то в целом имеют в виду то же самое — _отрисовывает_ (и его производные).

Если посмотреть по гуглу:
- [рендеринг](https://www.google.com/search?q=%22%D1%80%D0%B5%D0%BD%D0%B4%D0%B5%D1%80%D0%B8%D0%BD%D0%B3%22+react+-s

[2019-02-09 00:39] xanf commented on #4
reconcillation все таки "сверка" (без ё)  :)
Мне этот термин нравится и не нравится одновременно. Не нравится как звучит, но нравится как "постороннему" от мира Реакта человеку сразу понятно что происходит

Про "перерисовку" / "отрисовку" - я за "отрисовку"
render = отрисовка
rerender = перерисовка

[2019-02-09 00:43] verkholantsev commented on #4
Хотя в этом, безусловно, есть смысл, все-таки свойства и инкапсуляция в традиционном ООП это ортогональные вещи. Как предоставлять доступ к свойствам в каждом конкретном случае решает конкретный разработчик.

Английский обладает большей гибкостью в этом случае — в нем подобные сокращения распространены шире.

С другой стороны очень близкое к «пропсы» «чипсы» вполне вошло в словари.

[2019-02-09 00:44] lex111 commented on #4
Да, простите, глубокая ночь, пора идти спать :)

Тогда, _render_ - используем транслитерацию, и далее отрисовку, верно?

[2019-02-09 00:47] gaearon commented on #4
@lex111

С рендером усложняется ситуация, потому что на практике React всегда был синхронный, так что большой принципиальной разницы в путанице между render и paint в плане времени не было. Но в ближайшие месяцы эта разница появляется (в concurrent mode и с passive effects), и риск запутаться выше. Я думаю, что не стоит слишком ориентироваться на то, что эти два слова относительно взаимозаменяемы

[2019-02-09 00:49] dmitrykrylov commented on #4
props - "атрибуты"?
Почему вообще React использует props а не attrs по аналогии с html терминологией?

[2019-02-09 00:50] gaearon commented on #4
Атрибуты кстати было бы ок, если остальные не против. Тоже думал но забыл )

[2019-02-09 00:50] gaearon commented on #4
Есть маленький caveat в том что не все JSX-атрибуты становятся пропсами. Например `<div ref={foo} />`, `ref` это атрибут но не проп. Потому что он резервирован реактом.

[2019-02-09 00:52] lex111 commented on #4
@gaearon

Тогда я вообще ничего не понимаю :face_with_head_bandage: , зачем сейчас такое разделение?

[code]

И тогда [здесь](https://github.com/reactjs/ru.reactjs.org/pull/11/files) используем везде _рендеринг_ и его производные?

[2019-02-09 00:54] neustroev commented on #4
Заметно, что транслитерация не совсем подходит из-за образования множественного числа в английском. Будут "пропЫ" вместо "пропСов" :)

(надо бы выделить в отдельные ишью переводы для `render` и `props`, чтобы не тут почище стало?)

[2019-02-09 00:54] gaearon commented on #4
Ирония в том, что #11 как раз про `ReactDOM.render`, так что это вывод или отрисовка. До «рендеринга» мы дойдем только с компонентами.

Но если это слишком сложно, я не против просто сделать render всегда рендером, а только paint отрисовкой.

[2019-02-09 00:55] gaearon commented on #4
Пропы как-то нелепо звучит. Пропсы, но проп — по-моему это ок, даже если и нелогично.

[2019-02-09 00:56] lex111 commented on #4
Вот как раз под _атрибутом_ сразу подразумевается JSX... а вообще @maxfarseer помню пишет:

Т.е. атрибут - JSX, свойство - из JS, проп - всё это объединяет...

[2019-02-09 00:58] verkholantsev commented on #4
Да, не для всех возможных атрибутов Реакт компонента есть соответствующие HTML-атрибуты, но это не противоречит самой аналогии. Термин «атрибуты» выглядит меньшим злом чем «пропсы».

[2019-02-09 00:59] gaearon commented on #4
Не, я имею в виду, что JSX-атрибуты не все будут скопированы в `this.props`, потому что ref-атрибут и key-атрибут резервные. Это не в HTML дело.

[2019-02-09 00:59] lex111 commented on #4
Казалось, что там ведь аналогично — _отрисовка_?

[2019-02-09 00:59] Heegiiny commented on #4
Атрибуты вносят всё-таки путаницу, а проспы однозначно определяет термин.

[2019-02-09 01:00] gaearon commented on #4
@lex111 Сорри, не понял.

[2019-02-09 01:02] amazing-space-invader commented on #4
Для таких вещей, как пропс, нужно сохранять максимальную идентичность оригиналу, потому что поисковики смогут транслитерировать запрос и выдавать англоязычные ресурсы вроде StackOverflow и GH Issues с решением проблемы

[2019-02-09 01:03] gaearon commented on #4
@lex111 Предлагаю такой компромисс для рендера https://github.com/reactjs/ru.reactjs.org/pull/13

[2019-02-09 01:08] lex111 commented on #4
~~@gaearon с пропсами ясно, мне всё же импонирует вариант _отрисовка_, и я вижу проблема с ним только, когда встречается термин из браузера — paint. Но это очень нечастый случай, или я никак не могу понять. Можешь, пожалуйста, на примерах пояснить?~~

Короче, все до это ошибались, когда использовали _отрисовку_, под этим имеется в виду процесс в браузере, верно? Но ведь в контексте React это не та

[2019-02-09 01:09] gaearon commented on #4
Это не очень важно сейчас, но будет важно через полгода. Хочется лучше к этому подготовиться. ) В английском тоже сложно будет, но там это хоть два разных слова.

[2019-02-09 01:14] gaearon commented on #4
По поводу сверки и согласования. Сверка не совсем точное слово, потому что она подразумевает, что мы что-то _сверяем_ (то есть, как бы ищем «ошибки»). Согласование точнее, потому что процесс заключается в копировании изменений из одного источника в другой. Мы согласуем существующее дерево с источником.

Я не буду на этом настаивать, но мне кажется этот смысл точнее.

[2019-02-09 01:18] lex111 commented on #4
@gaearon хорошо бы статью по painting vs rendering, это было бы отлично... ок, давайте _рендеринг_ использовать, хотя я всегда считал иначе, но видимо ошибался..

Считаю тогда разумным внести дополнение в [словарь](https://github.com/web-standards-ru/dictionary/blob/master/dictionary.md#render), развеять сомнения, внести ясность?

[2019-02-09 01:22] gaearon commented on #4
Я думаю, можно внести, хотя это всё-таки реактовое отклонение. В контексте общего веба наверное рендеринг является отрисовкой.

В английском та же проблема. Термин устоялся, но реакт его «перегрузил» другим значением, и уже слишком трудно поменять обратно.

Есть конечно вариант оставить его перегруженным и на русском. Но тогда нам нужно другое слово для собственно paint.

[2019-02-09 01:24] Heegiiny commented on #4
Paint тогда можно переводить как "отрисовка браузером", если он нечасто встречается.

[2019-02-09 01:25] lex111 commented on #4
Вот поэтому неплохо бы статью в блоге на этот счёт :)

Как раз-таки да.

[2019-02-09 01:28] gaearon commented on #4
Хех. ОК, я не против отрисовки и «отрисовки браузером». Как мы переведем этот фрагмент?

[2019-02-09 01:31] gaearon commented on #4
Вообще может это сигнал что все такие предложения надо переписывать как диаграммы.

[2019-02-09 01:32] theKashey commented on #4
С «пропсами» проблема - с одной стороны это «параметры» компонента, или «аргументы» функции, но с другой - после прочтения документации человек откроет код, и/или документацию thirdparty компонент, которая будет на английском, и _шестеренки должны совпасть_.
Если называть некоторые вещи правильно с точки зрения русского языка - можно упустить главную цель документации - объяснить применить её к до

[2019-02-09 01:43] Heegiiny commented on #4
Путаница с рендерингом и отрисовкой всё же есть, если оба слова встречаются в одном предложении.

[2019-02-09 02:00] gaearon commented on #4
Путаницы совсем не избежать, но по крайней мере употребление одного и того же слова в одном и том же контексте поможет разобраться, когда понадобится.

[2019-02-09 02:08] gaearon commented on #1
Я возьму Components and Props следующей.

[2019-02-09 02:28] marichka-offen commented on #1
Can I help? I would like to translate Thinking in React

[2019-02-09 02:38] gaearon commented on #1
Sure. Thanks.

[2019-02-09 02:56] doasync commented on #4
bug - это баг (не дефект)
render - это рендер/ререндер/рендеринг (не отрисовка)
props - это пропсы (не атрибуты и не свойства)
ref - это ref или рефы

[2019-02-09 03:10] sompylasar commented on #4
Свежие идеи:
- render — обсчет, расчет
- rerender — пересчет
- reconciliation — подгонка, сопоставление

Но это всё уже приходится выдумывать только потому, что решили переводить понятия.

На мой взгляд, преимущество владения русским как основным при чтении англоязычной документации как раз в том, что термины на английском обозначают для читателя конкретные понятия документируемого продукта и ничт

[2019-02-09 04:07] agoldis commented on #1
🙋🏻‍♂️ please assign me on State & Lifecycle

[2019-02-09 04:12] Windrushfarer commented on #1
I'll get Lists and Keys

[2019-02-09 04:13] agoldis commented on #4
Lifecycle - 🤔 ?
Я бы сказал рабочий цикл...

[2019-02-09 05:13] avevlad commented on #1
Assign me on FAQ: AJAX and APIs

[2019-02-09 05:43] GreLI commented on #4
Тут словарь подсказывает, что render — это «вывод». В контексте Реакта, пожалуй, самое точно слово. Ведь в случае функционального компонента весь результат (вывод) функции — это тот самый render.

Хотя может стоит оставить прямо рендер в случае ререндера:

[2019-02-09 05:49] agoldis commented on #4
"Рендер"  сам по себе кажется закрепившимся термином - тем более что подразумевается не только результат вычисления функции но и возможная замена DOM-елемента

[2019-02-09 05:57] theKashey commented on #4
Все стало бы проще если бы в терминологию Реакта добавить "Scene Graph", у которого будет обход (сейчас "рендер") и обновление (сейчас "рендер").

[2019-02-09 06:17] dpatrikeev commented on #1
I'll take Handling Events

[2019-02-09 06:32] another-guy commented on #1
Conditional Rendering is the next piece for me to work on.

I also had the audacity to update the issue's description with the following volunteers/assignments:

[code]

[2019-02-09 06:42] pavelkeyzik commented on #1
Hi! Can I take 'Introducing hooks page?

[2019-02-09 06:52] sompylasar commented on #4
Обновление DOM (с последующей отрисовкой браузером) — это "commit". На один "commit" может произойти один или более "render".

Что-то похожее на "Scene Graph" есть (Fiber tree), но это деталь внутренней реализации. Для пользователей библиотеки важно знать, что рендер может происходить неоднократно, поэтому должен не влиять на окружение, либо использовать для этого "hooks" и подчиняться их правилам

[2019-02-09 06:54] another-guy commented on #4
@gaearon ты очень хорошо объяснил про то, почему "согласование" лучше, чем "сверка". Пока я ехал домой, думал, что "сопоставление" неплохой вариант, не страдающий болезнями "сверки". То есть, "сопоставление" ожидает различия, а не воспринимает их как ошибку/проблему.

И всё же твой вариант с "согласованием" намного лучше, потому что он предполагает side effects если так уместно выразиться. "Сопост

[2019-02-09 06:55] sompylasar commented on #4
EDIT. С изменением порядка обновления DOM могу ошибаться. Поправьте, если так. @dan_abramov

[2019-02-09 07:01] agoldis commented on #4
@sompylasar

спасибо за фидбек! мне кажется это implementation detail. Есть смысл быть более точным если детально описываться рендеринг, а так в общепринятом обиходе можно можно сказать рендер и тебя поймут. Ты же не говоришь "комит", да и функция называется "render".

[2019-02-09 07:05] sompylasar commented on #4
Название функции, как было упомянуто где-то выше, будет уходить на второй и третий план с угасанием классов. А концепции рендера и коммита останутся. Возможно, понятия коммита как такового не должно быть для пользователей, только эффект обновления DOM (как в useLayoutEffect) наряду с другими эффектами.

[2019-02-09 08:06] thechch commented on #1
I'd very much like to help with "Forms", if possible.

[2019-02-09 10:12] rlax commented on #1
I'd like to translate "Lifting State Up"

[2019-02-09 10:53] akhudiakov97 commented on #1
I'd like to translate API Reference >  ReactDOM.
Can I help ?)

[2019-02-09 11:59] gaearon commented on #4
Хех, а мне как раз это тихим тредом кажется 😅

Да, я согласен что лучше в будущем создавать отдельные темы под термин или группу связанных терминов.

[2019-02-09 12:30] lex111 commented on #4
Немного не по теме: но может определиться с конвенцией написания коммитов и ишью?

[2019-02-09 14:08] pavelkeyzik commented on #4
Как лучше перевести "render props"?

[2019-02-09 14:15] gaearon commented on #4
Рендер-пропсы? 😄

[2019-02-09 14:23] pavelkeyzik commented on #4
Точно 😄

[2019-02-09 15:05] lex111 commented on #4
Отвечая на свой же вопрос — может, использовать [соглашения ангуляра](https://github.com/angular/angular/blob/master/CONTRIBUTING.md#-commit-message-guidelines)? Как это [делают](https://github.com/reactjs/zh-hans.reactjs.org/commits/master) китайцы?

[2019-02-09 15:33] in-in commented on #4
@lex111
Тогда уж сразу автоматизировать
https://github.com/commitizen/cz-cli
https://www.conventionalcommits.org/en/v1.0.0-beta.3/

[2019-02-09 15:34] aamorozov commented on #1
I'll help with `Composition vs Inheritance`, or if that has been completed - Fragments.

[2019-02-09 15:57] AlLevykin commented on #1
Hi! I'd like to translate Installation > Getting Started (getting-started.md).

[2019-02-09 17:27] gaearon commented on #4
Не хочу зарываться в споры про коммиты ) Я бы не настаивал ни на какой конвенции.

[2019-02-09 17:32] ModPhoenix commented on #1
Хотел бы взять следующую **API Reference -> React**

[2019-02-09 17:41] gaearon opened #22 "Translating navigation bar"
We'll need to translate the navigation bars.

[2019-02-09 18:29] gaearon opened #24 "Try it on Codepen"
Будем переводить текст этой ссылки?

[2019-02-09 18:29] avevlad commented on #4
## Ajax, страница [FAQ: AJAX and APIs](https://reactjs.org/docs/faq-ajax.html)

### AJAX call

Хочу перевести как **AJAX запрос**, правильнее наверно будет **AJAX вызов**, но **AJAX запрос** более устоявшийся перевод.

<details><summary>Пруф с yandex wordstat:</summary><p>

![image](https://user-images.githubusercontent.com/2889662/52524339-ee912f00-2cac-11e9-9490-bf7ee90c9f27.png)

</p></details>

[2019-02-09 18:38] lex111 commented on #22
Может это делать по мере перевода соответствующих страниц?

[2019-02-09 18:40] lex111 commented on #4
Упс, простите :(

https://github.com/reactjs/ru.reactjs.org/pull/25

Тогда закрою его, после создания нового.

[2019-02-09 18:43] lex111 commented on #24
Конечно, почему нет?

[2019-02-09 18:46] avevlad commented on #4
#### Ссылка на документация по браузерному методу `window.fetch`

В доках нужно ссылаться на русскую документацию, в оригинале дока ссылается на [MDN en](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API), у этой страницы есть [русский перевод](https://developer.mozilla.org/ru/docs/Web/API/Fetch_API), но по моему мнение этот переводы сильно проигрывает в читабельности доке с сайта learn.j

[2019-02-09 18:48] gaearon commented on #24
Тогда надо определиться сразу, чтобы не было 10 разных вариантов )

[2019-02-09 18:48] gaearon commented on #22
👍

[2019-02-09 18:49] lex111 commented on #24
- `Попробовать на Codepen`
- `Посмотреть на Codepen`

[2019-02-09 18:51] ModPhoenix commented on #24
"Запустить на Codepen"?

[2019-02-09 18:56] lex111 commented on #4
@avevlad хоть там и переводы уступают по качеству, но тем не менее я предпочёл использовать MDN, поскольку это сайт сообщества, а learn.javascript.ru - просто, хоть и очень качественный, авторский проект (да, я в курсе, что его контент можно редактировать через гитхаб). Тем более, что делать с другими страницами, где есть ссылки на MDN? Поэтому я против этого.

[2019-02-09 19:23] dmtrKovalenko commented on #1
I'd like to help with.
Я бы хотел взять SyntheticEvent 😊

[2019-02-09 19:27] lex111 commented on #24
Погуглил, больше всего используется вариант `Посмотреть на Codepen`.

Фактически он уже запущен, поэтому это не совсем верно + меньше всего используется, если поискать в гугле.

[2019-02-09 20:16] Nadjakoroleva commented on #1
Привет! Я бы хотела перевести FAG * Component State 😎

[2019-02-09 20:22] avevlad opened #33 "Терминология: populate = заполнить?"
- Заполнить внутреннее состояние?
- Задать внутреннее состояние?
- Обновить внутреннее состояние?

Просто "Заполнить внутреннее состояние" звучит как то странно.

[2019-02-09 20:35] gcor commented on #1
Hi, i'd like to translate React.Component

[2019-02-09 20:54] gaearon commented on #24
Посмотреть 👍

[2019-02-09 20:55] #24 closed

[2019-02-09 20:57] gaearon commented on #33
Не знаю, мне заполнить звучит норм и вроде по смыслу. Речь именно о том, чтобы его заполнить из AJAX-ответа, а не об общем обновлении или задании.

[2019-02-09 21:04] gaearon opened #35 "Плагины Gatsby (кавычки-ёлочки и проч.)"
У нас включен плагин Gatsby, который автоматически конвертирует "" в “” и - в — где надо. Но он не знает про кириллицу и не в курсе, что надо ставить ёлочки. Надо его научить.

[2019-02-09 21:09] Hisagr commented on #1
Привет! Я бы хотел перевести Hooks at a Glance

[2019-02-09 21:18] lex111 commented on #35
А как он называется, не подскажешь? Не могу определить.

[2019-02-09 21:53] Michael-dyko commented on #1
Привет! Хотел бы взять на перевод ReactDOMServer

[2019-02-09 22:04] avevlad commented on #1
Возьму faq: **Babel, JSX, and Build Steps**

[2019-02-09 22:09] another-guy commented on #1
@avevlad каждый переводчик работает только над одной страницей в каждый момент времени. Ты хотел работать над "APIs and AJAX" (присвоено в списке). Снять с тебя API/AJAX и назначить Babel/JSX/Build steps или оставить всё, как есть?

[2019-02-09 22:13] avevlad commented on #1
@another-guy оставь все как есть, дождусь мерджа и напишу в тред еще раз

[2019-02-09 22:15] another-guy commented on #1
@avevlad извини, я не заметил, что у тебя открыт PR для предыдущей темы. Бери Babel/JSX/Build steps. :)

[2019-02-09 22:21] avevlad commented on #1
@another-guy взял! Спасибо! :)

[2019-02-09 22:23] another-guy commented on #33
"Заполнить", и правда, немного режет слух.

По жизни я только встречал "присвоить", "записать", "обновить", "задать". Реже: "применить (состояние). Но я не уверен, что хоть один из вариантов хорошо передаёт смысл. ¯\_(ツ)_/¯

[2019-02-09 23:01] gcor opened #40 "Терминология: child"
child components – дочерние компоненты
child – дочерний компонент
children – дочерние компоненты

child components – чайлд-компоненты
child – чайлд
children – чайлды

Кажется, лучше в любом случае писать длинно.

[2019-02-09 23:15] avevlad opened #41 "Терминология: tutorial = учебник?"
@AlLevykin в PR #39 перевел *in the tutorial* как *в практическом руководстве*

Давайте обсудим, tutorial это:

- учебник
- книга
- руководство
- практическое руководство

[2019-02-09 23:19] AlLevykin commented on #41
- обучающий пример
- обучающее пособие

[2019-02-09 23:20] lex111 commented on #41
Я за "руководство", как самый короткий, поскольку этот пункт будет отображаться в верхнем меню

[2019-02-09 23:21] lex111 commented on #40
child – дочерний компонент
children – дочерние компоненты

Однозначно :+1:

[2019-02-09 23:27] AlLevykin commented on #41
Необходимо обозначить различие между "Practical Tutorial" и "Step-by-Step Guide" (guide to main concepts).

[2019-02-09 23:36] lex111 commented on #41
Хм, тогда может оставить "учебник", хоть он и _простой_, а Step-by-Step Guide это то же самое что и tutorial.

[2019-02-09 23:37] gaearon commented on #41
Учебник у меня как раз вызывает теоретические ассоциации. А это скорее практический walkthrough.

[2019-02-09 23:38] gaearon commented on #41
Введение?

[2019-02-09 23:40] lex111 commented on #41
Отлично, по-моему!

[2019-02-09 23:42] gaearon commented on #41
Он даже на странице называется "Tutorial: Intro to React" так что вроде всё правильно. )

[2019-02-09 23:42] lex111 commented on #41
:man_facepalming:

[2019-02-09 23:42] avevlad commented on #41
ок, создать PR в TRANSLATION.md?

[2019-02-09 23:44] gaearon commented on #41
sure

[2019-02-09 23:46] gaearon commented on #41
Еще может быть "тур" но так про текст не говорят?

[2019-02-09 23:46] gaearon commented on #41
Или "обзор"

[2019-02-09 23:47] gaearon commented on #41
или курс...

[2019-02-09 23:47] avevlad commented on #41
А давайте плиз решим тут как переведем:

так?

[2019-02-09 23:47] lex111 commented on #41
Введение — лучше всего :1st_place_medal:

[2019-02-09 23:48] lex111 commented on #41
главная страница?

[2019-02-09 23:49] gaearon commented on #41
Еще надо Docs в заголовке коротко как-то.

[2019-02-09 23:50] avevlad commented on #41
@gaearon Доки!

[2019-02-09 23:50] lex111 commented on #41
Документация, аналогично как сейчас https://ru.react.js.org/

[2019-02-09 23:51] gaearon commented on #41
На мобильном даже английская версия плохо вмещается. Было бы лучше если бы можно без скролла.

<img width="391" alt="screen shot 2019-02-09 at 11 51 36 pm" src="https://user-images.githubusercontent.com/810438/52527744-a7fbfe80-2cc5-11e9-8b73-8f623c281210.png">

[2019-02-09 23:53] lex111 commented on #41
Ну, такое.. я про "доки".
+ как показывает твой пример, то на русском будет не лучше, нужно идти на компромиссы.

[2019-02-09 23:54] gaearon commented on #41
Соглашусь пожалуй.

[2019-02-09 23:54] avevlad commented on #41
Согласен что "доки так себе", но общаюсь я между колегами так.

Как вариант конечно оставить Docs.

[2019-02-09 23:55] gaearon commented on #41
Документация ок, просто шапка будет раньше скроллиться. Ничего.

Думаю, придется переменовать Введение в JSX чтобы не создавать путаницы с главным Введением.

[2019-02-09 23:56] avevlad commented on #41
Когда весь остальной сайт будет переведен, **Docs** на латинице не будет сильно выделяться.

[2019-02-09 23:57] lex111 commented on #41
https://reactjs.org/docs/introducing-jsx.html - Введение в JSX
https://reactjs.org/tutorial/tutorial.html - просто "Введение"

Правильно?

[2019-02-09 23:58] gaearon commented on #41
Да, но всё равно мне кажется можно заблудиться или подумать, что уже видел "введение", прочитав про JSX.

[2019-02-10 00:01] gaearon commented on #41
Можно буквально перевести introducing — "знакомство", тогда не будет пересекаться.

[2019-02-10 00:03] lex111 commented on #41
Кстати, да!

[2019-02-10 00:09] gaearon commented on #41
ok, я сделал https://github.com/reactjs/ru.reactjs.org/pull/43

[2019-02-10 00:10] lex111 opened #44 "Скорректировать шаблон для пулреквеста"
Проблема: в новых переводах много "нарушений" [руководства перевода](https://github.com/reactjs/ru.reactjs.org/blob/master/TRANSLATION.md), мне кажется нужно внести корректировки в [шаблон пулреквеста](https://github.com/reactjs/ru.reactjs.org/blob/master/.github/PULL_REQUEST_TEMPLATE.md), добавив чекбокс для отметки, типа так:

- [x] Прочитал руководство по переводу

[2019-02-10 00:11] T1mofey1 commented on #1
I would like to translate Styling and CSS

[2019-02-10 00:12] avevlad commented on #41
Сделаю PR для правки TRANSLATION.md

[2019-02-10 00:19] #41 closed

[2019-02-10 00:20] gcor commented on #4
Может быть стоит переводить state, как «стейт»?
В устном общении, мне кажется, это самая распространенная форма. Такая же, как «пропсы».
Плюс это позволит избежать путаницы с абстрактным словом «состояние».

[2019-02-10 00:21] lex111 commented on #4
http://www.nooooooooooooooo.com/

[2019-02-10 00:25] gaearon commented on #33
В общем-то мне не принципиально )

[2019-02-10 00:26] gaearon commented on #35
https://www.gatsbyjs.org/packages/gatsby-remark-smartypants/

[2019-02-10 00:28] gaearon commented on #4
В случае со стейтом (в отличие от пропсов-свойств) «состояние» очень четко отражает смысл поэтому было бы обидно его терять.

[2019-02-10 00:29] avevlad commented on #33
В доке кроме faq почти не встречается. Пусть пока будет будет *Заполнить*, хотя и варианты @another-guy мне симпатичны.

[2019-02-10 00:29] #33 closed

[2019-02-10 00:41] gaearon commented on #44
Я пока сделал так https://github.com/reactjs/ru.reactjs.org/commit/ea1c99208ab602fc1ca130d2651a235fff3834d6

[2019-02-10 00:50] Hisagr commented on #4
Не могу понять как лучше перевести "clean up" в этом контексте, особенно во 2ом предложении.

Effects may also optionally specify how to "clean up" after them by returning a function. For example, this component uses an effect to subscribe to a friend's online status, and cleans up by unsubscribing from it:

Есть варианты:

1. убрать
2. прибраться
3. почистить

Мне больше нравится убрать, но как-т

[2019-02-10 00:58] lex111 commented on #44
Отлично, закрываю.

[2019-02-10 00:58] #44 closed

[2019-02-10 01:15] avevlad commented on #1
Возьму **Code-Splitting**, PR #38 ждем мерджа

[2019-02-10 01:42] lex111 opened #52 "Перевести общее руководство по стилю"
https://github.com/reactjs/reactjs.org-translation/blob/2b830171e78a17be112d677c29f4cdb2537af626/style-guide.md

[2019-02-10 01:47] lex111 commented on #4
`привести в порядок`, `навести порядок` — или совсем не то?

[2019-02-10 02:04] Hisagr commented on #4
Да, это немного не то. Нужно что-то связанное с уборкой или очисткой.

Появился еще вариант **подчистить, подчищает**

[2019-02-10 02:08] Hisagr commented on #4
Еще вопрос:

Как переводим **Custom Hooks**? У меня возникли вот такие варианты:

1. кастомные
2. индивидуальные
3. свои
4. собственные

[2019-02-10 02:10] gaearon commented on #4
Подчистить ок по-моему. Можно посмотреть как Rx-еры про dispose пишут, этот тот же паттерн. Освобождение еще может.

[2019-02-10 02:11] gaearon commented on #4
@Hisagr Про Custom Hooks сложно. Это к @lex111 наверное.

[2019-02-10 02:14] another-guy commented on #40
В своём переводе я использовал "дочерний компонент" и производные. В каком-то PR я видел другой вариант. Интересно, как будем осуществлять вычитку на согласованность терминов во всех главах.

P.S. Чайлд-компоненты я нигде не видел на письме раньше.

[2019-02-10 03:19] another-guy opened #58 "Код на CodePen"
В issue #24 было решено, как перевести текст ссылки, ведущей на CodePen.

У меня возник вопрос, оставляем ли мы сам код на CodePen как есть (с английскими комментариями) или же клонируем код и исправляем комментарии на русский в точном соответствии с кодом в документации (вряд ли овчинка стоит выделки)?

[2019-02-10 06:44] RinatRezyapov commented on #1
Привет! Я бы хотел перевести FAQ -> File Structure

[2019-02-10 07:47] ivankayzer commented on #1
Привет, хотел бы взять **API Reference** -> **DOM Elements**

[2019-02-10 07:54] lex111 commented on #4
_пользовательские хуки_? Есть встроенные, а пользователь [React] может определить свои собственные, т.е. тогда подходит и _собственные_. _Но_ в компьютерной сфере, когда рёчь идёт о _custom_, то переводят (в основном) как _пользовательские_ (см. [книги](https://www.google.com/search?num=20&newwindow=1&biw=1853&bih=927&tbm=bks&ei=V9hfXKmyAeTGrgSB4buwAg&q=%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D

[2019-02-10 09:20] gcor opened #63 "Терминология: side-effects"
side-effects = Побочные эффекты
side-effects = Сайд-эффекты

Кажется, второй вариант лучше.

В [словаре веб-стандартов](https://github.com/web-standards-ru/dictionary/blob/master/dictionary.md#client-side) уже есть слово «сайд» (client-side = клиентсайд, server-side = серверсайд)

[2019-02-10 09:26] another-guy commented on #63
Не очень понимаю, чем именно второй вариант лучше. Особенно, учитывая что "побочный эффект" это очень понятно по-русски и общеизвестно в контексте программирования ([напр. Википедия](https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%B1%D0%BE%D1%87%D0%BD%D1%8B%D0%B9_%D1%8D%D1%84%D1%84%D0%B5%D0%BA%D1%82_(%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5))).

[2019-02-10 10:02] thechch commented on #4
Соглашусь с @gcor. "Стейт" сейчас употребляется на равне с "проп" и "пропсы". Перевод "состояние" может также относиться к состоянию некоторого UI элемента безотносительно React, например expand/collapsed в плане описания непосредственного визуального отображения.

Я столкнулся с проблемой перевода

_state property of components_  - свойство состояния компонента? По моему, "стейт" куда лучше годит

[2019-02-10 10:03] gcor commented on #63
Мне показалось, что сайд-эффекты чаще используют в устной форме. В статьях же про реакт часто совсем не переводят и оставляют side-effects.

Сейчас я согласен, что побочные эффекты, всё-таки лучше, потому-что это устоявшийся термин.

Статистика по [поиску хабра](https://habr.com/ru/search/?target_type=comments&order_by=relevance&q=%D0%BF%D0%BE%D0%B1%D0%BE%D1%87%D0%BD%D1%8B%D0%B5+%D1%8D%D1%84%D1%84

[2019-02-10 10:06] GreLI commented on #4
@thechch, тут видимо имеется в виду, что мутабельное состояние хранятся в свойстве `state` компонентов. По какой-то причине `state` не выделено, возможно, имеется не конкретное `this.state`, а как абстрактное свойство состояния.

[2019-02-10 11:01] lex111 commented on #63
Я тоже за _побочные эффекты_, поскольку мы довольно уже много используем варваризмов, и поэтому хотелось бы ограничить их использование, насколько это возможно. И это как раз такой случай.

Вот в этом и вся проблема: многое просто пишется как оригинале, хотя можно написать (воспроизвести) на русский, пусть даже и использовав транслитерацию.

[2019-02-10 11:02] shonoru commented on #1
Приветствую, возьму API Reference -> Test Utilities

[2019-02-10 12:33] avevlad commented on #58
+1

[2019-02-10 14:53] kuhelbeher commented on #1
Привет, возьму API Reference -> JavaScript Environment Requirements

[2019-02-10 15:31] Hisagr commented on #1
Я возьму перевести **Using the Effect Hook**

[2019-02-10 15:48] ModPhoenix commented on #35
Случайно увидел в разметке если поставить `--` это будет трансформировано в `—`. Правда я не разбирался это фича markdown или это делает плагин Gatsby.

[2019-02-10 18:21] mzhukov1973 commented on #1
Возьму **Error Boundaries** ([error-boundaries.md](https://github.com/reactjs/ru.reactjs.org/blob/master/content/docs/error-boundaries.md)).

[2019-02-10 19:50] gaearon commented on #4
В этом конкретном случае просто надо в английском варианте выделить `state` кодом.

[2019-02-10 21:13] avevlad opened #74 "Терминология: code-splitting = разделение кода?"
Code splitting

- разделение кода
- разбиение кода
- код сплиттинг
- код splitting

[2019-02-10 21:17] lex111 commented on #74
:+1:

[2019-02-10 21:40] gcor opened #75 "Терминология: helper"
В контексте:

_помощник_ мемоизации
_хелпер_ мемоизации
_утилита_ мемоизации
_помощник_ для мемоизации
_хелпер_ для мемоизации
_утилита_ для мемоизации

[2019-02-10 21:50] airyboy commented on #1
Беру Rules of Hooks

[2019-02-10 22:49] NKBelousov commented on #74
**разделение кода**

[2019-02-10 23:15] lex111 commented on #75
_хелпер_ мемоизации

Я между этими вариантами...

[2019-02-10 23:19] another-guy commented on #75
Есть ещё "вспомогательный класс" или "вспомогательная функция". Так часто пишут. "Вспомогательный", правда, сложно применить вместе с мемоизацией. Но в устной речи -- "хелпер" встречается сплошь и рядом.

Настолько много калек/заимствований, что я иногда спрашиваю себя, а переводили ли мы что-то вообще в документе?

[2019-02-10 23:29] doasync commented on #4
«произвести очистку»

[2019-02-10 23:53] Hisagr commented on #4
@doasync Тогда уже "выполнить", а не "произвести". Но мы пока остановились на "подчистить".

[2019-02-11 00:13] gaearon commented on #75
В конкретном примере можно просто "мемоизирующая функция"

[2019-02-11 00:18] lex111 commented on #75
Кстати, да, и этот вариант даже больше по-моему используется при переводе.

https://reactjs.org/docs/react-api.html#createfactory

[2019-02-11 00:33] gaearon commented on #75
Вспомогательный ок

[2019-02-11 06:50] shvedovskiy commented on #1
Hi, I'd like to take **Add React to a Website**

[2019-02-11 06:58] #63 closed

[2019-02-11 06:59] devmartynov commented on #1
Hey, I'd like to translate "Create a New React App"

[2019-02-11 07:27] #40 closed

[2019-02-11 07:28] #75 closed

[2019-02-11 07:29] #74 closed

[2019-02-11 08:16] DopustimVladimir commented on #1
Возьму это:
+ React Without ES6
+ React Without JSX

[2019-02-11 08:20] RenatRysaev commented on #1
Hey, I'd like to translate "Optimizing Performance"

[2019-02-11 08:24] another-guy commented on #1
@DopustimVladimir застолбил за вами "React Without ES6". Пожалуйста, по одной странице за раз.

[2019-02-11 11:39] everdimension commented on #4
@Hisagr Насчёт эффектов: мне кажется здесь подходит слово "отменить":

*При создании эффектов можно указать, как их **отменить**, вернув функцию.*

Я ещё бы про варианты "остановить" и "отписаться" подумал. Ведь по факту имеет смысл отменять только те эффекты, которые на что-то подписываются (но не всегда, например, создание таймера — это именно и создание, и подписка одновременно. Но clearTimeout

[2019-02-11 11:46] everdimension commented on #35
Подскажу, что есть отличная библиотека https://github.com/iamstarkov/typographic-quotes

[2019-02-11 11:56] GreLI commented on #4
«Прибраться». Как Firefox при установке: «немного прибираемся…».

[2019-02-11 12:53] egorzekov commented on #1
Всем привет.

Готов взять Advanced Guides - **Context**

[2019-02-11 14:43] Hisagr commented on #4
@everdimension Да, я тоже об этом думал уже. Особенно в заголовке "Clean up effect", эффекты подчистки/эффекты с подчисткой и тд звучит коряво. А отменяемые эффекты / эффекты с отменой, звучит довольно понятно и адекватно.

[2019-02-11 14:43] ntishkevich commented on #1
Hey, folks!

I'd like to translate Advanced Guides – **Fragments**

[2019-02-11 14:44] gaearon commented on #4
Отменить бывает как cancel а бывает как revert. Тут смысл больше revert, но люди могут понять как cancel.

[2019-02-11 14:46] gaearon commented on #4
Освобождение эффекта?

[2019-02-11 14:47] gaearon commented on #4
Эффект с уборкой 😄

[2019-02-11 14:48] dpatrikeev commented on #4
На нашел эти слова в таблице соглашений по переводу. Подскажите, пожалуйста, как их лучше перевести.
prevent default
syntetic event
listeners
ON/OFF
refer

[2019-02-11 14:49] gaearon commented on #4
смотри в https://developer.mozilla.org/ru/docs/Web/API/Event/preventDefault
синтетическое событие
слушатели

остальное без контекста не понятно

[2019-02-11 14:49] Hisagr commented on #4
@gaearon Да, согласен, в этом смысле может запутать людей. Может тогда отключение эффекта?

[2019-02-11 14:50] gaearon commented on #4
Давайте cleanup обсудим тут https://github.com/reactjs/ru.reactjs.org/pull/87

[2019-02-11 14:51] lex111 commented on #4
_Обработчики_, может быть? https://github.com/web-standards-ru/dictionary/issues/236#issuecomment-222292981

[2019-02-11 18:17] tesler commented on #1
Hi.

I'd like to translate Hooks – Building Your Own Hooks

[2019-02-11 18:24] Yakimych commented on #1
Hey, I can take "Shallow Renderer".

[2019-02-11 19:25] AlLevykin commented on #1
I'd like to translate "How to Contribute" (how-to-contribute.md).

[2019-02-11 20:05] marichka-offen commented on #1
I'll take FAQ: Passing Functions to Components

[2019-02-11 20:07] gcor opened #91 "Терминология: phase"
The render phase
(фаза, этап, стадия) рендера

clean up phase
(фаза, этап, стадия) сброса

The commit phase
(фаза, этап, стадия) (фиксирования, применения, правки, коммита)

[2019-02-11 20:07] gcor opened #92 "Терминология: fallback"
fallback

fallback UI
резервный интерфейс
запасной интерфейс

[2019-02-11 20:35] another-guy commented on #92
Мне кажется, это всё подходящие по смыслу синонимы. "Этап" -- самое простое и популярное слово.

![image](https://user-images.githubusercontent.com/5762340/52591668-58b6ea80-2df9-11e9-83b7-f096c4294527.png)

[2019-02-11 20:35] another-guy commented on #91
Мне кажется, это всё подходящие по смыслу синонимы. "Этап" -- самое простое и популярное слово.

![image](https://user-images.githubusercontent.com/5762340/52591668-58b6ea80-2df9-11e9-83b7-f096c4294527.png)

[2019-02-11 20:40] another-guy commented on #92
Я бы склонялся к "запасной", потому что попроще слово.

Ещё есть вариант "аварийный", но мне как-то режет слух, хотя оно точнее передаёт fallback в значении retreat.

[2019-02-11 20:42] lex111 commented on #92
А как насчёт _заглушка интерфейса_?

Приведу предложение для примера:

[2019-02-11 20:45] lex111 commented on #91
@another-guy вау, крутой сервис гугла, не знал про такой :/

[2019-02-11 20:46] another-guy commented on #92
Ну, это не заглушка как таковая. В моём понимании, заглушка

А тут это как раз специально спроектрированный UI, который представляет результат-ошибку.

[2019-02-11 20:47] another-guy commented on #91
@lex111 рад, что хоть что-то можно узнать от меня полезное. 😄

[2019-02-11 20:49] lex111 commented on #92
Может быть, тогда _альтернативный_, типа такой интерфейс, который показывается в случае, если основной (главный) по каким-либо причинам не отрендерился.

[2019-02-11 20:52] gcor commented on #92
Возможно еще подойдет «вспомогательный», правда оно занято helpers.

[2019-02-11 20:55] lex111 commented on #92
Наверное, и правда лучше всего _запасной_: просто и понятно.

[2019-02-11 20:56] another-guy commented on #92
@lex111 мне приходил вариант _альтернативный_ и он мне нравится всем, кроме того, что сложноватое слово и немного общее. Поэтому я не решился его предложить.

[2019-02-11 21:02] gcor commented on #92
Я могу сделать реквест?

[2019-02-11 21:02] gcor commented on #91
Я ещё уточню про commit phase. В документации:

Можно ли это назвать этапом применения? Хотя вариант этап фиксирования наверно более распространён. Но звучит сложнее.

[2019-02-11 21:03] lex111 commented on #92
@gcor конечно!

[2019-02-11 21:05] lex111 commented on #91
Либо _фиксации_ ещё можно.

[2019-02-11 21:30] theghostbel commented on #1
I'll take *Test Renderer*

[2019-02-11 21:38] #92 closed

[2019-02-12 01:22] lex111 commented on #58
Сейчас подумал, поскольку мы переводим (да?) текст в примерах кода, то при в примерах CodePen остаётся оригинальное содержимое, что вызывает несогласованность. Не знаю, критично ли это, поскольку хотелось всё-таки переводить текст в примерах кода, но вместе с этим, в примерах CodePen будет по-прежнему английский...

Или ничего, что будет так?

[2019-02-12 01:30] another-guy opened #94 "Плашка в страницах про Хуки"
Все :us:/:gb: страницы про Хуки содержат плашку, которая должна быть переведена одинаково на :ru:.

У нас уже есть две конкурирующие версии в пулл реквестах. Надо определиться и использовать один и тот же вариант.

#84 :

#86 :

Или так:

[2019-02-12 01:31] another-guy commented on #94
Над переводами страниц о Хуках работают @pavelkeyzik, @Hisagr, @another-guy, @Hisagr, @airyboy, @tesler. Две страницы пока незастолблены ни за кем.

[2019-02-12 01:45] lex111 commented on #94
Нравится первый вариант, поскольку ближе к оригиналу, только добавив тире и убрать местоимение.

[2019-02-12 01:58] Hisagr commented on #94
Я бы еще предложил заменить **написания -> создания**

[2019-02-12 02:05] lex111 commented on #94
Но на самом деле не очень ясно (если совершенно не знаешь что это), т.е. вот так:

лучше всего передаёт суть, хотя выглядит длинно и не очень элегантно (?).

[2019-02-12 02:09] Hisagr commented on #94
Суть немного искажается все-таки. Ведь только 2 хука покрывают возможности классовых компонентов, а все остальные используют функционал, который не относится к классам.

[2019-02-12 04:12] another-guy commented on #94
@lex111 я вынужден согласиться с @Hisagr. Смысл пусть немного, но искажается.

[2019-02-12 04:15] another-guy commented on #58
@lex111 в этом и заключается вопрос, поднятый в этом ишью. @avevlad и я сходимся на том, что несогласованность с примером на CodePen в языке это неприятная шероховатость, но она не должна стать "blocking" для читателя. А отслеживать и поддерживать множество примеров на CodePen в лучшем случае затруднительно.

[2019-02-12 04:28] echobrain commented on #1
Hi! I'd like to translate: **Advanced Guides -> Portals**

[2019-02-12 05:10] polling commented on #1
Привет.
Я возьму Hooks -> Hooks API Reference

[2019-02-12 05:13] pavelkeyzik commented on #94
Может написать что-нибудь вроде "без создания лишних оберток"? Как я понимаю на данный момент для этого хуки и писались 😊

[2019-02-12 05:41] marichka-offen commented on #1
I'll take API Reference: Glossary

[2019-02-12 06:06] airyboy commented on #94
"Ближе к оригиналу" можно и в Google Translate посмотреть. И первый вариант, кстати, почти на 100% попал в машинный перевод: https://translate.google.com/#view=home&op=translate&sl=en&tl=ru&text=Hooks%20are%20a%20new%20addition%20in%20React%2016.8.%20They%20let%20you%20use%20state%20and%20other%20React%20features%20without%20writing%20a%20class.

Мне кажется, наша задача перевести нормальным русск

[2019-02-12 06:31] another-guy commented on #94
Мне видится, что оба имеющихся варианта несущественно отличаются и мы молем воду в ступе, не?

Меня даже больше волнует первое предложение, чем второе. Я за "_Хуки_ появились в React 16.8.", потому что в другом варианте говорится, что хуки -- новые. Это только сейчас они новые, а через год-два уже нет.

[2019-02-12 07:57] pavelkeyzik commented on #4
Что по поводу "consumers"? Пока нашёл только 2 варианта:
"consumers" -> "консьюмеры"
"consumers" -> "потребитель контекста"

[2019-02-12 08:42] artezio-yzubkov commented on #1
Greetings,
I'll take Advanced Guides -> JSX In Depth.

[2019-02-12 08:47] theghostbel commented on #1
Не всегда хватает [соглашения по переводу](https://github.com/reactjs/ru.reactjs.org/blob/master/TRANSLATION.md). В [веб-стандартах](https://github.com/web-standards-ru/dictionary/blob/master/dictionary.md#v) тоже не так много специфичных слов. Где бы пообсуждать некоторые переводы?

- [ ] 1. snapshot - снепшот? слепок?
- [ ] 2. view - вид? представление?
- [ ] 3. snapshot of the platform view hie

[2019-02-12 09:36] pavelkeyzik commented on #1
@theghostbel Вот [здесь ](https://github.com/reactjs/ru.reactjs.org/issues/4) обсуждаем такие вопросы.

[2019-02-12 09:43] ntishkevich commented on #4
А как насчет:
"consumer" -> _потребитель_
"consumers" ->  _потребители_
"producer" -> _поставщик_/ _производитель_
"producers" -> _поставщики_ /_производители_

Например, в java комьюнити(особенно когда речь заходит про JMS)  используют консьюмеры и продьюсеры, не переводя их на русский.

[2019-02-12 09:54] theghostbel commented on #4
Не всегда хватает [соглашения по переводу](https://github.com/reactjs/ru.reactjs.org/blob/master/TRANSLATION.md). В [веб-стандартах](https://github.com/web-standards-ru/dictionary/blob/master/dictionary.md#v) тоже не так много специфичных слов.

- [ ] 1. snapshot - снепшот? слепок?
- [ ] 2. view - вид? представление?
- [ ] 3. snapshot of the platform view hierarchy - платформо-зависимый слепок дер

[2019-02-12 09:56] pavelkeyzik commented on #4
@ntishkevich Я тут поэтому и спросил. Просто сейчас у нас "reducers" переводятся как "редьюсер" и в основном я на слуху всегда "редьюсер", а не перевод. Так вот может у нас такая же ситуация и с консьюмерами? Говоря "консьюмер" я больше понимаю о чём речь, чем, если бы сказали мне "потребитель". Главное прийти к какому-то одному выводу, чтобы переводы совпали 😄

[2019-02-12 10:30] acilsd commented on #1
Hello there.
I'm taking **Advanced Guides -> Static Type Checking**

[2019-02-12 11:03] Heegiiny commented on #1
I'll take **Advanced Guides -> Forwarding Refs**

[2019-02-12 11:12] ntishkevich commented on #4
@pavelkeyzik Появилась идея выхода из ситуации, указать следующим образом при первом упоминании этого слова в тексте:
**продьюсер** (producer – буквально  _"поставщик"_)
**консьюмер** (consumer – буквально _"потребитель"_)

Но тут я вспомнил еще о `provider`, который также можно переводить как поставщик, поэтому мне кажется, что вариант с продьюсером и консьюмером неплох

[2019-02-12 11:31] RinatRezyapov commented on #4
Как вариант snapshot - снимок

Если не получается найти варианты переводов можно воспользоваться сервисом https://context.reverso.net/ Сервис ищет перевод в контексте.

[2019-02-12 11:32] everdimension commented on #4
Вообще я возможно упустил это обсуждение, но мне кажется, что надо стараться переводить термины по минимуму. Каждый новый придуманный перевод это почти как новая строка кода, которую нужно поддерживать.

Надо ли вообще переводить `Context.Consumer`?
Описан ли какой-то гайд про то, когда стоит переводить термин, а когда нет?

Например, для англоговорящей аудитории метод `.map` может объясняться чер

[2019-02-12 12:09] Azat74 commented on #1
I will translate the **Advanced guides > Render Props**

[2019-02-12 14:51] shonoru commented on #1
Могу взять *Hooks FAQ*

[2019-02-12 15:07] mzhukov1973 commented on #1
Возьму [Web Components](https://github.com/reactjs/ru.reactjs.org/blob/master/content/docs/web-components.md).

[2019-02-12 15:57] sompylasar commented on #4
Первое упоминание в каждой статье (трудно поддерживать консистентность) или может существовать отдельная страница "глоссарий" со всеми терминами.

[2019-02-12 17:12] ivaneroshkin commented on #1
Hi! I can take **Virtual DOM and Internals**

[2019-02-12 18:31] gaearon commented on #58
Согласен.

[2019-02-12 18:31] #58 closed

[2019-02-12 18:42] gaearon commented on #91
Метафора — гит. Мне кажется по-русски уже устоялось «коммит» в этом плане.

Этап рендера и этап коммита были бы ок мне.

[2019-02-12 19:12] gaearon opened #102 "Reviewer availability"
Хотел просто сказать, что на этой неделе буду занят и не смогу ревьюить — так что доверяю @lex111 и @another-guy трясти переводы на тему упрощения. Поменьше существительных и деревянных оборотов, побольше живого языка!  Думаю, в ревью имеет смысл ссылаться на прошлые переводы и процесс, который они прошли: https://github.com/reactjs/ru.reactjs.org/pull/17, https://github.com/reactjs/ru.reactjs.org

[2019-02-12 19:55] agoldis commented on #1
@another-guy Hey, I have finished my #42, can I please do  Higher-Order Components

[2019-02-12 20:18] another-guy commented on #1
@agoldis Absolutely!

[2019-02-12 20:19] Heegiiny commented on #4
Ref forwarding - перенаправление рефов?

[2019-02-12 20:30] Heegiiny opened #105 "Терминология: Refs forwarding"
Есть варианты перевода: перенаправление, проброс, передача. Мне больше нравится перенаправление по аналогии с Port Forwarding.

[2019-02-12 20:37] gaearon commented on #105
Я бы ок с перенаправлением.

[2019-02-12 20:58] Heegiiny commented on #105
Ок, сразу же ещё вопрос: "Forwarding refs to DOM components" - "Передача рефа компоненту DOM" или "Передача рефа в компонент DOM"?

[2019-02-12 21:01] gaearon commented on #105
в DOM-компоненты?

[2019-02-12 21:05] Heegiiny commented on #105
Хорошо, множественное число не заметил просто. А native `button` DOM element мы как переводим? Нативный DOM-элемент `button`? Простой (обычный, обыкновенный) DOM-элемент `button`?

[2019-02-12 21:11] lex111 commented on #105
Так передача или перенаправление?

[2019-02-12 21:12] Heegiiny commented on #105
Перенаправление

[2019-02-12 21:13] lex111 commented on #105
Противоречие?

[2019-02-12 21:16] Heegiiny commented on #105
Да, там перенаправление должно быть, ошибся когда писал сообщение. Вопрос был "в компонент" или "компоненту".

[2019-02-12 21:21] lex111 commented on #105
Хорошо.

_Нативный_, много так кто переводит, предлагаю поступить аналогично. Хотя есть подходящее на русском — _встроенный_ или _собственный_, может как синонимы использовать? Хотя учитывая, что  _native_ редко встречается в тексте, то использовать первый вариант.

[2019-02-12 21:21] Heegiiny commented on #105
Ок, спасибо.

[2019-02-12 21:23] another-guy commented on #105
@lex111 _встроенный_ или _собственный_ теряют часть содержания. Слово "родной" работает лучше, но "нативный" настолько же узнаваемо, насколько и "коммит". Так я  тоже за транслитерированный вариант.

[2019-02-12 21:26] another-guy commented on #102
@lex111 я буду ревьють, что смогу, по вечерам Pacific Standard Time. Но я не буду мёрджить ничего, потому что у меня недостаточно опыта open-source contribution вообще и перевода документации в частности.

[2019-02-12 21:29] lex111 commented on #102
@another-guy в целом, можно застоппить PR, пока их не посмотрит @gaearon, либо закоммитить, но отметить, что нужно вычитать...

[2019-02-12 21:32] lex111 commented on #105
Ок, не забыть только сделать PR.

[2019-02-12 21:37] another-guy commented on #105
@lex111 надо завести ишью про бэктрэкинг таких вещей, которые уже могли быть смёржены в `master`?

[2019-02-12 21:39] lex111 commented on #105
Либо доп. ярлык, типа `need confirm`?

[2019-02-12 21:40] another-guy commented on #102
@lex111 "закоммитить" ??? 😕 🤷‍♂️

Себе я ставлю задачу максимально вычистить тексты по стилю, чтобы на долю @gaearon остался тот минимум, который ты или я не обнаружили или не смогли разрешить. Иными словами, мёрдж не самоцель, как бы.

[2019-02-12 21:42] lex111 commented on #102
Ну да ¯\_(ツ)_/¯

Поэтому я предложил второй вариант..

[2019-02-12 21:42] another-guy commented on #105
`need confirm` не указывает, что именно искать, усложняя тем самым работу -- надо держать в голове _весь_ глоссарий сразу. Можно, конечно, попробовать и так.

[2019-02-12 21:43] #91 closed

[2019-02-12 21:45] lex111 commented on #105
Ан извините, имел в виду эту [ишью](https://github.com/reactjs/ru.reactjs.org/issues/102) :face_with_head_bandage:

Что-то не понял :( мы хотим проверям переводы на соответствие глоссарию?

[2019-02-12 21:52] another-guy commented on #105
@lex111  мы нечаянно смешали два вопроса, похоже.

1. Про `need confirm` ты мне прояснил, и я за эту идею.

2.  > мы хотим проверям переводы на соответствие глоссарию?

Да, это то, что меня немного волнует.

[2019-02-12 21:55] lex111 commented on #105
Лучше стараться на этапе принятия PR максимально всё проверять (не менее двух-трёх аппрувов мейнтейнеров); термин впоследствии может измениться, но тогда в PR термина пройтись по переведённым материалам и сделать замену.

[2019-02-12 21:58] another-guy commented on #105
@lex111 разумеется, это поможет с минимизацией работы. Но это совсем не гарантирует её сведение к нулю. Всё равно потребуется вычитка, я считаю.

[2019-02-12 22:05] astralpunch commented on #1
Привет, возьму Reconciliation.

[2019-02-12 22:06] gcor opened #107 "Терминология: bind"
bind methods
Связывание
Привязывание

binding
Связка
Привязка

[2019-02-12 22:09] gcor commented on #107
Кажется, лучше привязка и привязывание.
Например, https://learn.javascript.ru/bind

[2019-02-12 22:09] another-guy commented on #107
_ПРИвязка_ однозначно.

[2019-02-12 22:48] xforo commented on #1
I'll take **Refs and the DOM**

[2019-02-12 23:12] lex111 opened #109 "Написание названий технологий, продуктов и т.д."
В #97 заметил что названия продуктов, технологий и прочего пишется по-русски:

Я в целом против этого, в документации это вредно, но хочется узнать мнение других участников, и зафиксировать решение в местном руководстве.

[2019-02-12 23:17] another-guy commented on #109
Однозначно непереводные слова, мне кажется. По тексту [словаря Web-стандартов](https://github.com/web-standards-ru/dictionary/blob/master/dictionary.md) это только подтверждается.

Мы же не хотим ЦСС, ЦэЭсЭС, или СиЭсЭс, правда? 🙅‍♂️

[2019-02-12 23:21] lex111 commented on #109
Помню так Дэн в начале писал, и так делает в своём блоге, что мне на самом деле нравится, т.е. в публицистке и прочем такого мне даже это нравится (в меру), но не в документации или книгах, посколку может запутывает людей, не говоря уже о том, как это выглядит в случае аббревиатур.

Тогда нужно внести в файлик соответствующее правило.

[2019-02-13 00:15] Heegiiny commented on #105
Переводим ли мы аббревиатуру HOC?

[2019-02-13 00:16] lex111 commented on #94
Но указана точная версия, т.е. они новые _относительно_ React 16.8.

Мне нравится "буквальный" перевод, поскольку это хорошее по длине предложение, нежели чем __Хуки_ появились в React 16.8_. В последнем нужно что-то добавить ещё, иначе (как по мне) читается "рвано".

Я, конечно, согласен с @airyboy, хотя в данном случае я не вижу проблем с читабельностью. Можно ещё так:

[2019-02-13 00:20] lex111 commented on #105
В #103 было небольшое обсуждение.

Если иметь в виду где используется явно аббревиатура, например в заголовке:

То не думаю, что стоит её раскрывать, хочется чтобы заголовки были краткими. Предлагаю просто писать "Используем HOC...", да, пропадает множественное число, но ведь смысл тот же, в русском мы так не можем сделать, поэтому, как по мне, вполне норм. Или нет?

[2019-02-13 00:24] Heegiiny commented on #105
Да, нашёл как раз обсуждение HOC устраивает вполне, интересовал именно стандарт в переводе. Мне кажется, можно всё таки оставить `| HOC | HOC |` в таблице.

[2019-02-13 00:26] lex111 commented on #105
А зачем? Тогда вернее было `| HOCs | HOC |`
Но я предлагаю такой вариант: того, чего нет в этой таблице, то это не переводится. Или даже более частное правило: аббревиатуры не раскрываются/переводятся.

[2019-02-13 00:28] Heegiiny commented on #105
Тогда стоит добавить в правила.

[2019-02-13 00:28] another-guy commented on #105
Нравится. Потому что есть явный квалификатор -- аббревиатуры.

Очень не нравится. Откуда переводчику знать, на какие слова это распространяется, а на какие -- нет.

[2019-02-13 00:31] another-guy commented on #94
@lex111 последний предложенный вариант меня устраивает.

[2019-02-13 00:35] lex111 commented on #105
Понимаю, можно после заголовка "Соглашение по переводу" добавить заметку.

[2019-02-13 01:52] Heegiiny commented on #105
render function не особенно понятно как перевести. Функция-рендерер, функция рендеринга, рендерящая функция?

[2019-02-13 01:53] lex111 commented on #105
:+1:

[2019-02-13 02:13] lex111 opened #113 "Терминология: folder"
Папка, а может быть директория? Может, это очевидно, но нравится последний вариант, но хотелось услышать другие мнения.

[2019-02-13 02:37] Heegiiny commented on #113
Можно ещё каталог. Но в английском же также используются оба слова. Если в оригинале folder, то переводить как папка будет логичнее.

[2019-02-13 02:49] agoldis opened #114 "Нужна помощь с термином Cross-Cutting Concerns"
Помогите плз с термином Cross-Cutting Concerns

в контексте:
- Use HOCs For Cross-Cutting Concerns
- We previously recommended mixins as a way to handle cross-cutting concerns.

[2019-02-13 02:56] lex111 commented on #114
Сквозная/общая/разделяемая функциональность?

[2019-02-13 03:04] agoldis commented on #114
Сквозная функциональность [wiki](https://ru.wikipedia.org/wiki/%D0%90%D1%81%D0%BF%D0%B5%D0%BA%D1%82%D0%BD%D0%BE-%D0%BE%D1%80%D0%B8%D0%B5%D0%BD%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B5_%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)

[2019-02-13 03:04] #114 closed

[2019-02-13 03:19] another-guy commented on #113
@lex111 перевод немного OS-specific. В Win это _папка_ или _каталог_ как правило. В других ОС, чаще _директория_. Мне кажется, что _папка_, что _каталог_ оба узнаваемы. Дословно, folder это, конечно же, _папка_.

[2019-02-13 04:40] stillaboi commented on #1
I can take **Advanced Guides -> Accessibility**

[2019-02-13 04:55] vvscode commented on #1
I can take `React Without JSX`

[2019-02-13 05:04] another-guy commented on #1
@art-yzubkov застолбил тему за вами. Извините, что подтверждение заняло 20 часов. Видимо, мы упустили из виду...

[2019-02-13 05:42] vvscode commented on #1
I can take `refs-must-have-owner`

[2019-02-13 08:06] lex111 commented on #113
Ок, тогда не вижу смысл заносить в словарь (поскольк это дословно), просто хотелось узнать мнение остальных.

[2019-02-13 08:13] astralpunch commented on #4
А что насчет diff, diffing algorithm? Алгоритм сравнения, diff-алгортим?

[2019-02-13 08:25] another-guy commented on #113
@lex111 в глоссарий заносить смысл _есть_, как раз потому что вопрос возник. Мы хотим последовательные переводы слов, не?

[2019-02-13 08:25] LFedorov commented on #109
Поддержу, перевод собственных имен очень сильно сбивает с толку.

[2019-02-13 10:44] lex111 commented on #113
Понял, просто у всех на слуху _очевидный_ перевод, это со мной что-то не так, ок, внесём.

[2019-02-13 10:45] lex111 commented on #109
@LFedorov не желаете создать PR? :)

[2019-02-13 10:57] ntishkevich commented on #1
I'd like to translate Advanced Guide – **Strict Mode**

[2019-02-13 12:13] LFedorov commented on #109
#123

[2019-02-13 15:56] #109 closed

[2019-02-13 17:58] #107 closed

[2019-02-13 18:01] #113 closed

[2019-02-13 18:04] another-guy commented on #35
Кто-нибудь знает, что ответственно за нестинг через синтаксис `embed:<file-ref>` ?

[2019-02-13 20:30] gcor opened #127 "Терминология: snapshot"
Снимок
Снепшот
Снэпшот

[2019-02-13 21:28] another-guy commented on #127
Я за "снимки", потому что

Это слово легко находится в статьях на русском о React. На втором месте -- _слепок_.

Я не вижу причин для транслитерации (_Снепшот_) в этом конкретном случае. А в _Снэпшот_ используется "э", которую я люблю, но которая нарушает правила русского языка.

[2019-02-13 22:35] #52 closed

[2019-02-14 04:43] vvscode opened #128 "Use squash for merging"
Как на счет squash при мерже PR . ? чтобы держать историю чистой

[2019-02-14 04:55] another-guy commented on #128
В моём понимании чище как раз `rebase` (потому что потом можно `revert` более мелкие изменения), но я не знаю, как оно по жизни чаще делается в GitHub. Что-то мне подсказывает, что кнопка сделана как "Rebase and merge" по дефолту неспроста... 🤷‍♂️

[2019-02-14 06:38] vvscode commented on #128
Я при переводе делаю несколько коммитов - для чистоты с rebase мне нужно делать squash ( ну или --ammend / --force push )

Какая кнопка используется по-дефолту настраивается в свойства репозитория

Про мелкие изменения - для того и ревью в PR, ну и давайте честно, если вы строчку захотите откатить, это проще сделать коммитом, а не ревертом

[2019-02-14 06:39] vvscode commented on #1
I'm ready . to take `* Integrating with Other Libraries`

[2019-02-14 06:49] #127 closed

[2019-02-14 06:53] another-guy commented on #128
Мне кажется, у разных людей -- разный workflow.

Я не знал об этом до сегодня. 😃

Пожалуй, соглашусь тут.

---

Если честно, я немного devil's advocate сейчас. На самом деле, у меня нет преференций сильных...

[2019-02-14 07:16] pavelkeyzik opened #132 "Терминология: Effect Hook, State Hook, Context Hook"
Есть вариант перевода от @gaearon "эффект-хуков".

[2019-02-14 07:17] pavelkeyzik opened #133 "Терминология: TLDR"
Есть ли варианты перевода или лучше оставить как есть?

[2019-02-14 07:24] another-guy commented on #132
Мне кажется, тут английский порядок слов выходит, а по-русски:

Какой вариант лучше, я не знаю. Ещё советую не забывать о втором хуке, который подробно разбирается -- State Hook. Давайте подберём перевод сразу им обоим?

[2019-02-14 07:30] another-guy commented on #133
[Wikipedia говорит TL;DR как есть](https://ru.wikipedia.org/wiki/TL;DR).

А ещё, она говорит

...которые, как я понимаю, приходят из _«олбанского» йезыга_, а значит, совершенно неуместны.

[2019-02-14 07:38] pavelkeyzik commented on #133
Из всех вариантов мне пока больше всего нравится этот. Как по мне так короче и не сильно отвлекает. Но раньше меня TL;DR отвлекало, потому что я думал, что это в коде ошибка и что-то лишнее выводится, когда не знаел про значение этого сокращения 😄

[2019-02-14 08:14] ModPhoenix commented on #132
Мне пока нравится:

или:

[2019-02-14 08:19] another-guy commented on #132
@ModPhoenix

Вот эти три

были бы консистентны между собой, помимо того что близки к правилам русского языка.

[2019-02-14 09:59] #105 closed

[2019-02-14 10:54] another-guy opened #138 "Терминология: array/object destructuring"
Какого варианта мне придерживаться в #134?

В [MDN](https://developer.mozilla.org/ru/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#%D0%A0%D0%B0%D0%B7%D0%B1%D0%BE%D1%80_%D0%BC%D0%B0%D1%81%D1%81%D0%B8%D0%B2%D0%BE%D0%B2):

В комментарии к [PR #65](https://github.com/reactjs/ru.reactjs.org/pull/65#discussion_r256226408)

[2019-02-14 11:16] LFedorov commented on #138
деструктуризация - вполне устоявшееся понятие

[2019-02-14 11:37] another-guy commented on #138
@LFedorov значит в словарь нет смысла добавлять, так?

[2019-02-14 11:40] LFedorov commented on #138
можно добавить, на случай возникновения сомнений в дальнейшем

[2019-02-14 11:44] #138 closed

[2019-02-14 15:46] lex111 commented on #133
Согласен с тем, чтобы не переводить.

[2019-02-14 15:49] lex111 commented on #132
А почему не хук состояния, хук эффекта и т.д.? Это ведь определенные хуки, по аналогии с функция рендеринга, а не функция-рендер, или нет? Хотя оба варианта - ок, но зачем такое "усложнение"?

[2019-02-14 16:24] Heegiiny commented on #1
I'll take Contributing > Codebase Overview.

[2019-02-14 16:53] another-guy commented on #132
@lex111 на самом деле, я с тобой полностью согласен. Я так и переводил хук состояния.

Мне кажется, что ноги этого ишью растут из комментария @gaearon, который я не могу найти (а был ли "мальчик"?). Дэн несколько раз ссылался на Нору Галь. Она говорит, что цепочки существительных это как бы text smell. Особенно там, где родительный падеж участвует. Наверное, хуки состояния/эффектов/контекста поэто

[2019-02-14 17:09] lex111 commented on #132
Я помню был в одном из PR, но выглядит странно, так что я бы не заморачивался здесь и использовал привычную структуру. Но хочется получить ещё фидбек на этот счёт.

[2019-02-14 18:00] pavelkeyzik commented on #132
@lex111 issue создал основываясь на этом комментарии https://github.com/reactjs/ru.reactjs.org/pull/84#discussion_r256124607

[2019-02-14 18:04] lex111 commented on #132
Так смысл другой совершенно:

Ясно, но считаю, что теперь понятно, что лучше всгео написать так:

[2019-02-14 18:39] gaearon commented on #133
Можно "вкратце" или "в двух словах"

[2019-02-14 18:46] LFedorov opened #142 "Терминология: persistent"
Думаю, стоит решить как переводить и занести в словарь.

[2019-02-14 20:51] lex111 commented on #133
Классные варианты, может, тогда будем переводим?

[2019-02-14 20:52] another-guy commented on #142
_устойчиый_? 🤷‍♂️

[2019-02-14 20:57] LFedorov commented on #142
иммутабельные, устойчивые коллекции? возникает вопрос - устойчивые к чему?

[2019-02-14 22:39] lex111 commented on #94
Перечитал сейчас, и понял, что написал фигню:

Наверное, поэтому имеет смысл использовать _дополнение_ вместо _возможность_? Либо ещё так:

[2019-02-14 23:45] another-guy commented on #94
@lex111 да, я почему-то проглядел повтор.

[2019-02-15 00:41] lex111 commented on #142
:+1: (_хранение_ ещё есть)

https://medium.com/devschacht/sebasti%C3%A1n-peyrott-introduction-to-immutablejs-and-functional-programming-concepts-b3a6555af0ee

[2019-02-15 00:54] another-guy commented on #142
Во-первых, тут не совсем согласен.

_persistent **storage**_ это постоянное хранилище. Если бы _persistent_ переводилось точно как _хранилище_, то это было бы масло масляное. Да, в разговорном бывает говорят _persistent_, подразумевая _хранилище_, но это неверно.

---

Во-вторых, предлагаю всегда приводить хотя бы один пример использования обсуждаемого термина. В #141 текст такой:

То есть речь о

[2019-02-15 01:13] lex111 commented on #142
Так что, _персистентность_ тогда?

[2019-02-15 01:29] another-guy commented on #142
Видимо, так.

[2019-02-15 09:21] #142 closed

[2019-02-15 09:27] lex111 commented on #142
Кстати на будущее: можно в тексте PR писать что-то вроде "Closes #142", тогда это ишью автоматически закроется.

[2019-02-15 09:41] lex111 commented on #133
"вкратце" хорошо подходит, одно слово, что хорошо, посколку после TLDR может следовать длинный заголовок.

[2019-02-15 13:39] DmitryMarkov commented on #1
Я могу взять FAQ > Versioning Policy

[2019-02-15 17:48] #133 closed

[2019-02-15 17:54] another-guy commented on #132
Ну, так что, если ли решение?
Переводим как _хук состояния/эффекта/контекста_ (в два слова, без дефиса)?

[2019-02-15 17:56] another-guy commented on #142
@lex111 Да. Но с этим надо осторожно. У нас были ишью, в которых обсуждались 2-3 термина сразу...

[2019-02-15 17:56] lex111 commented on #132
Я считаю, да, именно так.

[2019-02-15 19:31] #132 closed

[2019-02-15 23:04] another-guy commented on #128
@lex111 any thoughts on that?

[2019-02-15 23:47] lex111 commented on #128
Не задумался об этом, да и на самом деле для меня это слишком критично, в оригинальной документации коммиты не объединяются в один, и вроде ничего страшного.  Меня больше "пугает", когда делают force-пуш, но хорошо хоть гитхаб с некоторого времени научился их показывать, раньше вообще можно отправить так изменения, и неудомевать, почему при первом ревью ты видел совершенно иное.

[2019-02-16 03:48] #128 closed

[2019-02-16 12:29] echobrain commented on #1
I'll take **Contributing -> Design Principles**

[2019-02-16 17:09] tesler commented on #1
Закончил пользовательские хуки, возьму ещё
Contributing -> Implementation Notes

[2019-02-16 18:33] Heegiiny opened #154 "Терминология: Contibuting"
Выражения из **Codebase Overview**, но встречаются и в других главах из **CONTRIBUTING**.

~Codebase - код (не могу придумать, как вставить сюда base, чтобы не получилось длинное словосочетание);~
(to) contribute - участвовать в разработке (_внести вклад_ еще переводят, но мне больше первый вариант нравится, к тому же это в документации, а не в меню).

[2019-02-16 18:38] Heegiiny commented on #154
guide - руководство или гайд? Гайд, на мой, взляд, достаточно устоявшеся слово.

[2019-02-16 19:16] Heegiiny commented on #154
utilities - утилиты или вспомогательные функции?

[2019-02-16 19:25] another-guy opened #155 "Терминология: utilities"
https://github.com/reactjs/ru.reactjs.org/issues/154#issuecomment-464374176

[2019-02-16 19:25] another-guy commented on #154
@Heegiiny давайте сделаем по issue на термин, чтобы обсуждение было максимально ясным https://github.com/reactjs/ru.reactjs.org/issues/155

[2019-02-16 19:26] another-guy opened #156 "Терминология: guide"

[2019-02-16 19:28] another-guy commented on #154
_Codebase_:

_кодовая база_ и _база кода_? Например, _в вашей базе кода..._ Или _обзор кодовой базы_

[2019-02-16 19:29] another-guy opened #157 "Терминология: Codebase"
https://github.com/reactjs/ru.reactjs.org/issues/154

[2019-02-16 19:29] another-guy commented on #157
@Heegiiny

_Codebase_:

_кодовая база_ и _база кода_? Например, _в вашей базе кода..._ Или _обзор кодовой базы_

[2019-02-16 19:30] Heegiiny commented on #154
Хорошо.

[2019-02-16 19:33] another-guy commented on #154
@Heegiiny

_contribute_:

_содействие [в разработке]_
_делать вклад_

[2019-02-16 19:34] Heegiiny commented on #157
Кодовая база не очень нравится, не встречал ранее в русскоязычных источниках такого словосочетания. Может тогда _обзор исходного кода_? Мне кажется, _исходный код_ используется в подобном значении.

[2019-02-16 19:36] another-guy commented on #156
@Heegiiny _руководство_ намного более известное слово в русском, не несущее никаких проблем с собой.
"Гайд" это _плохая_ калька, в отличие от многих вынужденных транслитераций, для которых нет уместного перевода.

[2019-02-16 19:38] another-guy commented on #155
@Heegiiny мне больше нравится простое _вспомогательные функции_. Под _утилитами_ в русском языке чаще понимаются _вспомогательные **приложения**_.

[2019-02-16 19:40] another-guy commented on #157
@Heegiiny да, _исходный код_ допустимо использовать в этом значении. Я нейтрален к такому переводу _code base_. И, пожалуй соглашусь с тем, что _кодовая база_ в русской литературе редкость.

Может ещё у кого-то есть соображения?

[2019-02-16 19:48] Heegiiny commented on #155
Да, согласен, что обычно имеются ввиду приложения.

[2019-02-16 20:53] lex111 commented on #154
Сам раздел мы перевели как _Участие в проекте_, для перевода главы _How to Contribute_ я бы предпочтёл использовать более общий перевод - _Как внести свой вклад_ (поскольку много встречается в рунете) или _Как поучаствовать_ (но не нравится из-за некоторого повтора названия главы), а уже в самом тексте можно использовать _участвовать в разработке_ (например [здесь](https://reactjs.org/docs/how-to-

[2019-02-16 20:53] lex111 commented on #156
:+1:

[2019-02-16 20:59] lex111 commented on #157
Да ну, в рунете _кодовая база_ уже [давно](https://www.google.com/search?newwindow=1&biw=1853&bih=927&ei=3XhoXObhB_aFk74PqZadwAQ&q=%D0%BA%D0%BE%D0%B4%D0%BE%D0%B2%D0%B0%D1%8F+%D0%B1%D0%B0%D0%B7%D0%B0+%D1%85%D0%B0%D0%B1%D1%80&oq=%D0%BA%D0%BE%D0%B4%D0%BE%D0%B2%D0%B0%D1%8F+%D0%B1%D0%B0%D0%B7%D0%B0+%D1%85%D0%B0%D0%B1%D1%80&gs_l=psy-ab.3...598.1286..1557...0.0..0.164.678.0j5......0....1..gws-wiz.......0

[2019-02-16 21:37] lex111 commented on #155
Если использовать _вспомогательные функции_, то получается двойное значение, поскольку _helper_ аналогично переводится.

Но учитывая, что это слово используется пока в контексте тестирования - [Test Utilities](https://reactjs.org/docs/test-utils.html) - и там идёт речь про маленькую библиотеку [ReactTestUtils](https://github.com/facebook/react/blob/master/packages/react-dom/src/test-utils/ReactTes

[2019-02-16 22:16] Heegiiny opened #158 "Терминология: license header comment"
Комментарий о лицензии в начале файла?

[2019-02-16 22:19] Heegiiny commented on #155
Мне _utilities_ встретился в

[2019-02-16 22:20] lex111 commented on #158
Да, но это это словосочетание используется один раз, поэтому нет смысла добавлять в словарь (хотя скорее всего это и не подразумевалось).

[2019-02-17 00:26] Heegiiny commented on #157
Я бы оставил _исходный код_, так как-то привычнее.

[2019-02-17 05:18] another-guy commented on #157
Учитывая, что _кодовая база_ есть в википедии и даже в книгах, я теперь склоняюсь, что именно этот вариант лучше.

Он ближе к исходному тексту. Он менее абстрактен в сравнением с _исходным кодом_ (под которым понимают любой код, даже сниппет, который ещё не скомпилирован в байт-код или машинный код).

[2019-02-17 06:14] another-guy commented on #155
@Heegiiny @lex111 конкретно в случае с заголовком, я думаю, можно сделать исключение и написать `ReactTestUtils`. Но по тексту понятие надо переводить (кроме названия самой библиотеки).

[2019-02-17 16:23] vvscode commented on #1
@lex111  поделишься? ))

[2019-02-17 17:00] lex111 commented on #1
@vvscode ты хочешь туториал перевести?

[2019-02-17 17:28] vvscode commented on #1
можно, да

[2019-02-17 17:30] lex111 commented on #157
Может тогда не стоит добавлять его в словарь, если слово специфичное? У нас есть ишью, где обсуждается вопросы по переводу, это как раз тот случай.

[2019-02-17 18:24] lex111 commented on #1
@vvscode назначил, у тебя хорошо это получается, мог бы скинуть свои наработки, но понял, что там плохо, поэтому не буду лишний раз позориться :/

[2019-02-17 23:44] another-guy commented on #158
Исходя из общего согласия, закрою issue.

[2019-02-17 23:44] #158 closed

[2019-02-17 23:48] another-guy commented on #157
Согласен, что можно не заносить в словарь. Фраза есть лишь в двух документах.

[2019-02-18 00:08] #157 closed

[2019-02-18 08:09] egorzekov commented on #1
@lex111 , @another-guy перевод контекста закончил [#164](https://github.com/reactjs/ru.reactjs.org/pull/164/files)

Судя по распределению в шапке, контента свободного больше нет. Дайте знать, если могу помочь с чем-то еще.

[2019-02-18 08:14] shonoru commented on #1
@egorzekov можешь взять * Hooks FAQ, у меня возможно времени не будет на этой неделе

[2019-02-18 08:21] egorzekov commented on #1
@shonoru, окей.

Возьму еще *Hooks FAQ*.

[2019-02-18 18:38] lex111 commented on #1
Приветствую @thechch, @rlax, @aamorozov, @theghostbel, @devmartynov, @polling, @stillaboi, @xforo, @acilsd, @ntishkevich, @mzhukov1973, @T1mofey1 :hand:
хотелось узнать, как у вас дела с переводом, вы его начали? Если чувствуете, что не сможете его сделать, то, пожалуйста, _напишите об этом_ здесь, чтобы мы переназначили его.

[2019-02-18 18:46] acilsd commented on #1
Hello, закончил наконец свое (advanced guides -> static type checking),

https://github.com/reactjs/ru.reactjs.org/pull/166

[2019-02-18 19:18] ntishkevich commented on #1
:hand: Перевод начал, в процессе вычитывания и улучшения.

[2019-02-18 19:31] rlax commented on #1
В процессе

[2019-02-19 03:44] devmartynov commented on #1
Перевод в процессе

--
С уважением, Мартынов Денис.

[2019-02-19 08:33] polling commented on #1
В процессе

[2019-02-19 11:44] theghostbel commented on #1
В процессе. Сравниваю с уже сделанными переводами, чтобы читалось хорошо.

[2019-02-19 15:59] Azat74 opened #168 "> effectively"
Разве не наоборот?

_Originally posted by @lex111 in https://github.com/_render_node/MDE3OlB1bGxSZXF1ZXN0UmV2aWV3MjA0OTk0MzY0/pull_request_reviews/more_threads_

[2019-02-19 16:01] Azat74 commented on #168
На сколько я понимаю в данном контексте понимается именно то что были потрачены ресурсы на это, несколько раз думал об этом, прошу это прокомментировать.

[2019-02-19 17:11] another-guy commented on #168
@Azat74 уточните ссылку, пожалуйста, чтобы увидеть контекст.

[2019-02-19 23:18] lex111 commented on #168
Это относится к https://github.com/reactjs/ru.reactjs.org/pull/163#discussion_r257870657

Я ответил - https://github.com/reactjs/ru.reactjs.org/pull/163#discussion_r

[2019-02-20 02:41] another-guy commented on #168
Раз обсуждение уже идёт в PR, и оно не касается введения термина в словарь, issue следует закрыть.

[2019-02-20 02:41] #168 closed

[2019-02-20 02:46] another-guy opened #170 "Исправить ссылки после sync"
Ссылки на конфликты тут: https://github.com/reactjs/ru.reactjs.org/pull/169/files

[2019-02-20 05:23] aamorozov commented on #1
@lex111 в процессе

[2019-02-20 05:37] another-guy commented on #156
В словарях -- _руководство_, поэтому закрываю issue.

[2019-02-20 05:37] #156 closed

[2019-02-20 10:06] thechch commented on #1
хотелось узнать, как у вас дела с переводом, вы его начали? Если чувствуете, что не сможете его сделать, то, пожалуйста, _напишите об этом_ здесь, чтобы мы переназначили его.

Проверяю пунктуацию и создаю PR.

[2019-02-21 11:40] art-yzubkov commented on #1
@lex111 Добрый день!

Не выходит уделять переводу достаточное количество времени, поэтому переназначьте, пожалуйста, Advanced Guides -> JSX In Depth на кого-нибудь.

Спасибо и удачи с переводами.

[2019-02-21 11:56] RenatRysaev commented on #1
Могу подхватить: Advanced Guides -> JSX In Depth

[2019-02-21 16:57] lex111 commented on #1
@art-yzubkov ок, хорошо, может найдётся желающий, спасибо, что сообщили.

[2019-02-21 17:43] RenatRysaev commented on #1
Могу подхватить эту тему(Advanced Guides -> JSX In Depth)

[2019-02-21 17:45] lex111 commented on #1
@RenatRysaev спасибо, назначил на вас.

[2019-02-22 09:39] gcor opened #180 "Incorrect display of non-latin characters"
https://ru.reactjs.org/

<img width="606" alt="screen shot 2019-02-22 at 12 35 12 pm" src="https://user-images.githubusercontent.com/4715396/53233458-870cb380-369e-11e9-8269-7e77e3460a74.png">
<img width="589" alt="screen shot 2019-02-22 at 12 35 19 pm" src="https://user-images.githubusercontent.com/4715396/53233459-870cb380-369e-11e9-9c23-312838ca46da.png">

[2019-02-22 09:50] another-guy commented on #180
Проблема не специфична для русского. Ниже такая же беда, например, в армянском переводе. Мне кажется, надо эскалировать проблему. Я напишу в Slack, пожалуй

![image](https://user-images.githubusercontent.com/5762340/53234288-1042cc80-3644-11e9-8f81-60f2c15a896d.png)

[2019-02-22 09:57] another-guy commented on #180
Написал: https://react-translations.slack.com/archives/CG3V64V0C/p1550829280043700

[2019-02-22 10:02] another-guy commented on #180
@gcor Good catch.

[2019-02-22 10:27] another-guy opened #181 "Терминология и вычитка: бандлер/сборщик"

[2019-02-22 22:04] another-guy commented on #180
Открыл баг в родительском репозитории по совету @tesseralis

[2019-02-22 22:04] #180 closed

[2019-02-23 22:13] TheTonnio commented on #1
Приветствую, если кто-либо не успевает или же нуждается в помощи, то пингуйте, буду рад подхватить 😅

[2019-02-24 15:08] T1mofey1 commented on #1
Привет, #183 нужно ревью

[2019-02-25 09:05] another-guy commented on #1
@T1mofey1 ревью обязательно будет. Не могу говорить за других участников, но лично я делаю вычитку PR на слух по вечерам, чтобы обеспечить максимально возможное качество. Поэтому физически не успеваю за каждым реквестом. Так, за три часа сегодня я отревьюил три (или четыре) PR.

[2019-02-25 11:02] another-guy opened #188 "Терминология и вычитка: функционал -> функциональность"
Надо вычитать текст и переводить _functionality_ повсеместно как _функциональНОСТЬ_, а не _функционал_.

[2019-02-27 14:39] SmolinPavel commented on #1
Готов помочь с переводом! 👍

[2019-02-27 22:10] lex111 commented on #1
И вновь приветствую @rlax, @devmartynov, @polling, @theghostbel, @mzhukov1973, @xforo,

в первый раз вы откликнулись и написали (за что отдельное спасибо, поскольку не все это сделали), что перевод в процессе, с тех пор прошло больше недели, но пулреквеста с переводом нет. У вас возникли какие-либо сложности или вы не можете закончить? Как бы то ни было, пожалуйста, создайте пулреквест с переводом

[2019-02-28 00:53] devmartynov commented on #1
мою тему можно забрать

--
С уважением, Мартынов Денис.

[2019-02-28 03:48] lex111 opened #202 "Терминология и вычитка: контролируемые -> управляемые"
По мотивам https://github.com/reactjs/ru.reactjs.org/pull/37#issuecomment-468126110

[2019-02-28 04:56] SmolinPavel commented on #1
@lex111 Я возьму Refs and the DOM. Приступаю 💻

[2019-02-28 05:06] lex111 commented on #1
Ещё есть ReactDOMServer (@Michael-dyko судя по всему не будет им уже заниматься).

[2019-02-28 05:39] vvscode commented on #1
Если еще есть свобоодные темы / нужна помощь - пишите

[2019-02-28 07:53] ChernikAnton commented on #1
Возьму переводить Create a New React App

[2019-02-28 09:45] mikhail-hatsilau commented on #1
Hey. Can I take API Reference -> ReactDOMServer ?

[2019-02-28 13:28] #154 closed

[2019-02-28 13:29] lex111 commented on #170
Поскольку всё исправлено.

[2019-02-28 13:29] #170 closed

[2019-02-28 14:48] lex111 commented on #1
Не затягивайте, пожалуйста, с переводами. Мы не хотим никого подгонять, мы очень ценим вклады и ваше время, но нужно знать, как обстоят дела с переводом, возможно нечего не делается, и поэтому в таком случае лучше отдать его кому-то другому.
И как можно раньше создавайте PR, тем более в гитхабе теперь можно создать так называемый [незавершённый пулреквест](https://github.blog/2019-02-14-introducin

[2019-03-01 07:59] AlLevykin commented on #1
Если можно, готов взять Accessibility (accessibility.md).

[2019-03-01 09:12] vvscode commented on #1
Что планируем делать с блогом?

[2019-03-01 12:21] ModPhoenix commented on #1
@vvscode я думаю тоже нужно переводить, просто в приоритете сделать перевод документации. После чего можно понемногу начинать переводить блог.

[2019-03-01 15:06] vvscode commented on #1
@ModPhoenix  с конца? с начала?

[2019-03-01 15:45] ModPhoenix commented on #1
Думаю сначала лучше новые посты, поскольку в них более актуальная информация.

[2019-03-02 08:57] another-guy commented on #1
@lex111 @Heegiiny @gcor FYI: я поимел наглости убрать `🏃` из списка назначений на перевод. У нас нет задачи стыдить людей (а для меня выглядело это именно так), которые не смогли уделить переводу время по неизвестным нам причинам. Вместо этого просто указал `reassigned to @someonelse`, чтобы был ясен факт переназначения.

[2019-03-02 09:29] another-guy commented on #1
@lex111 @gcor @Heegiiny, последний раз ответы поступали от нескольких контрибьюторов довольно давно. **Мне кажется, надо установить какой-то дедлайн в количестве дней, и если ответа или черновика так и не поступит, то переназначить на других добровольцев (люди тут выражали желание подхватить темы)...**

---

Уважаемые контрибьюторы, мы понимаем, насколько сложно бывает выделить время на сторонние

[2019-03-02 19:24] echobrain commented on #1
Привет, в процессе перевода "Design Principles", поскольку у данного раздела стоит низкий приоритет - делаю неспешно, думаю на следующей неделе закончить. Но если нужно - могу поднажать и ускориться

[2019-03-02 22:00] another-guy commented on #1
@echobrain спасибо за предоставленный ETA. Будем ждать ваш PR на след. неделе тогда.

[2019-03-02 23:13] #22 closed

[2019-03-03 04:58] vvscode commented on #41
Перечитал топик и не понял - почему `Введение`? откуда?

[2019-03-03 05:02] vvscode commented on #41
ну и например такие фразы `We strongly recommend typing code by hand as you're working through the tutorial and not using copy/paste.` - какой вариант перевода?

[2019-03-03 06:18] avevlad commented on #1
@another-guy в процессе, PR будет на след неделе!

[2019-03-03 08:14] gcor commented on #41
Если говорить про раздел Tutorial, то мне нравится перевод _Введение_, потому что он отражает то, что это не полное руководство или учебник, это именно основы для новичков.

Можно перевести так: «Код из этого введения мы рекомендуем писать самостоятельно, а не просто копировать»

Но в некоторых местах всегда можно употребить руководство, если оно точнее передаст смысл.

[2019-03-03 08:29] vvscode commented on #41
`из этого введения` - мне режет слух

Плюс заголовок `Tutorial: Intro to React` - он как бы отражает, что `tutorial` не про введение, про него `Intro`

[2019-03-03 08:49] gcor commented on #41
`из этого раздела` можно

Слово руководство по мне это что-то полное и скорее антоним к введению. Получится странно, как бы руководство по введению. Здесь подходит перевод учебник или учебное пособие (Учебное пособие: введение в React). Но, как выше обсуждали, это скорее получится что-то про теорию, а тут практика.

Я за вариант _Введение: знакомство с React_ или просто _Введение_

[2019-03-03 08:52] lex111 commented on #41
Для заголовка отлично подходит.

[2019-03-03 08:54] vvscode commented on #41
@gcor
про `полное`  это откуда? у меня вот такой ассоциасии нет

[2019-03-03 09:00] gcor commented on #41
Руководство у меня ассоциируется с чем-то сложным. Например, руководство по эксплуатации холодильника или руководство по работе со стиральной машиной. И это выглядит, как крупная книжка. Но может это только у меня 😄

[2019-03-03 09:05] vvscode commented on #41
Ну видимо не только я не согласен с таким подходом )
https://www.ozon.ru/context/detail/id/5578850/
https://www.ozon.ru/context/detail/id/142419474/
https://www.ozon.ru/context/detail/id/5993100/

[2019-03-03 09:23] lex111 commented on #41
Ну и книжки ты привёл в качестве примера 🤣🤣🤣

[2019-03-04 01:16] lex111 commented on #1
Кто ранее переводил и хочёт попробовать ещё, отпишитесь, пожалуйста. Нужна помощь 🆘.

[2019-03-04 03:29] polling commented on #1
Застрял в делах. Но с переводом почти закончил, сегодня пришлю PR

[2019-03-04 09:03] tesler commented on #1
Перевод в процессе. Будет PR на этой неделе

[2019-03-04 09:27] ntishkevich commented on #1
Если актуально, могу помочь.

[2019-03-04 09:30] lex111 commented on #1
@ntishkevich Web Components возьмёшь?

[2019-03-04 09:32] ntishkevich commented on #1
Да, возьму. 🚒

[2019-03-04 09:42] gcor commented on #1
Я могу перевести что-то не очень большое. Composition vs Inheritance, если нужно, например

[2019-03-04 09:46] lex111 commented on #1
@gcor отлично, всё равно, кажется, уже не дождаться реакции от @aamorozov

[2019-03-04 11:38] ModPhoenix commented on #1
@lex111 Могу взять что то в перевод если не очень длинное).

[2019-03-04 11:45] lex111 commented on #1
@ModPhoenix Lifting State Up - длинное?

[2019-03-04 11:50] #35 closed

[2019-03-04 12:16] rlax commented on #1
@lex111 По Lifting State Up готовится PR, ETA завтра, а после в его ревью можно будет подключиться @ModPhoenix .
P.s. видимо пропустил вопрос про ETA выше

[2019-03-04 12:18] lex111 commented on #1
@rlax отлично, если так, будем ждать вашего перевода! :muscle:

[2019-03-04 17:17] lex111 commented on #1
@ModPhoenix может тогда возьмёшь Test Renderer, там вроде немного?

[2019-03-04 17:42] lex111 opened #223 "Перевести страницу ошибки 404"
Это [здесь](https://github.com/reactjs/ru.reactjs.org/blob/master/src/pages/404.js).

[2019-03-04 17:43] lex111 opened #224 "Перевести страницу с версиями"
Это [здесь](https://github.com/reactjs/ru.reactjs.org/blob/master/src/pages/versions.js).

[2019-03-04 18:24] ModPhoenix commented on #1
@lex111 да нормально, взял)

[2019-03-04 20:54] lex111 commented on #1
@ModPhoenix не много перевёл? Пока отбой, первоначальный автор обещал отправить перевод, извини, думал, что перевод заброшен :(
Но перевести всё равно ещё есть что. Например, [404 страницу](https://github.com/reactjs/ru.reactjs.org/issues/223).

[2019-03-04 21:53] vvscode commented on #1
я возьму 404 )

[2019-03-04 22:08] lex111 commented on #1
@ModPhoenix @vvscode тут конкуренция образовалась, уже @musewick перевёл её в #228. Но там есть ещё одна страничка, посмотрите список ишью :smiley:

UPD: @vvscode перевёл уже, но всё равно @musewick быстрее тебя оказался...

Ох, ну и суматоха, спасибо за помощь! :wink:

[2019-03-04 22:13] musewick commented on #1
@lex111 похоже, что это я виноват в суматохе, так как не отписался тут перед началом. Я не против если будет взят PR от @vvscode

[2019-03-04 22:15] lex111 commented on #1
@musewick всё нормально, это не перевод страниц, а "допы", про которые я мимо ходом упомянул.. короче, сейчас всё разрешим!

[2019-03-04 22:22] aamorozov commented on #1
@lex111 Sorry for the delay - i will be submitting Composition vs Inheritance translation pr later tonight. Thanks!

[2019-03-04 22:28] lex111 commented on #1
@aamorozov сожалею, но перевод уже сделан в #225, мы неоднократно упоминали вас, но вы не ответили, а ждать больше не могли. Но поскольку #225 пока не принят, я предлагаю вам **присоединиться к нему** и посредством [suggested changes](https://help.github.com/en/articles/reviewing-proposed-changes-in-a-pull-request#starting-a-review) предложить свои корректировки из своего перевода (возможно, кое-ч

[2019-03-04 23:39] #223 closed

[2019-03-05 00:28] lex111 commented on #1
Поскольку сейчас с переводами текущих страниц более-менее ясно (но опять-таки точно неизвестно, пока не будут предоставлены пулрекветы), то все желающие помочь, могут попереводить страницы из раздела "[Сообщество](https://ru.reactjs.org/community/support.html)", они короткие и несложные, а ещё их много, так что хватит всем :blush:

[2019-03-05 02:40] lex111 commented on #94
@ntishkevich предложил ещё вариант _нововведение_ вместо _новинка_ (текущего). Может его будем использовать?

[2019-03-05 05:39] another-guy commented on #94
@another-guy мне нравится _!_

Как писать тогда? _Хуки -- нововведение в React 16.8 ..._ ?

[2019-03-05 05:45] another-guy opened #232 "Вычитка исходного кода: перевод комментариев"
Большинство комментариев поддаются переводу, но не везде это уместно. Надо вычитать тексты и убедиться, что всё в одном стиле.

[2019-03-05 06:39] lex111 commented on #94
Верно.

[2019-03-05 09:06] ModPhoenix commented on #1
Я тогда хотел бы взять **Сommunity -> Where To Get Support**.

[2019-03-05 09:08] lex111 commented on #1
@ModPhoenix здорово :+1: , хотя конкретные страницы разделов Сообщества и Блога не ведём в списке, но другим будет полезно это знать, чтобы не случилось то, что было с 404-ошибкой.

[2019-03-05 23:33] tesseralis opened #235 "Russian Translation Final Steps!"
Congrats! We're almost done translating the React docs to Russian!

A couple more things to do before we can mark this translation as complete:

* [x] Replace "reactjs.org" to "ru.reactjs.org" in the following places:
  * [x] package.json
  * [x] site-constants.js
  * [x] gatsby-config.js
  * [x] MarkdownPage (the link href in "Edit this page")
* [x] Change `html.js` to have the attribute `lang="r

[2019-03-07 08:51] theghostbel commented on #1
Сегодня-завтра залью Test Renderer, извиняюсь за смуту, @lex111 и @ModPhoenix

[2019-03-07 11:31] rlax commented on #1
Lifting State Up: #238

[2019-03-08 07:20] #155 closed

[2019-03-08 22:55] theghostbel commented on #1
@lex111 Test Renderer - https://github.com/reactjs/ru.reactjs.org/pull/240

[2019-03-10 19:42] Adler991 opened #243 "Опечатка на странице https://ru.react.js.org/docs/lists-and-keys.html"
Присутствует английская буква "W" непосредственно перед словом "Мы"
![Screenshot_1](https://user-images.githubusercontent.com/35759037/54090489-61a9c600-437d-11e9-9f71-889772fd9500.png)

[2019-03-10 19:51] ntishkevich commented on #243
Спасибо за вашу бдительность, но вы ссылаетесь на сайт https://ru.react.js.org/ с неофициальным переводом (вроде бы @lex111 участник того репозитория), а в этом репозитории находится официальный перевод документации по адресу https:/ru.reactjs.org. В этом же разделе документации , в котором обнаружили ошибку, на https://ru.reactjs.org/docs/lists-and-keys.html нету лишних букв.

[2019-03-10 20:06] lex111 commented on #243
Да, всё верно пишет @ntishkevich, более того, на этом сайте в самом верху есть соответствующая фиолетовая плашка, видимо вы перешли по второй ссылке (кстати, поставьте звёздочку этому репозиторию, нам будет приятно :smile: ) и решили, что это репозиторий сайта с неофициальным переводом. Читайте официальный перевод, тем более он почти уже готов. Но всё равно спасибо за уведомление, закрываю тикет.

[2019-03-10 20:06] #243 closed

[2019-03-11 05:20] lex111 commented on #102
Выхожу на неопределенный срок из проекта. Пожалуйста, доведите до конца перевод, сегодня еще про разделение кода перевод пришлют, это будет последний из важный, остальные страницы в низком приоритете. Так что нам осталось совсем немного до официального запуска, было бы хорошо это сделать на этой неделе.
Тогда в этом ишью https://github.com/reactjs/ru.reactjs.org/issues/235 отметите оставшиеся гало

[2019-03-11 17:00] Adler991 commented on #243
Спасибо, извините что зря побеспокоил. В будущем буду повнимательней.

[2019-03-11 21:15] another-guy commented on #102
@lex111, спасибо за heads up и за все усилия приложенные как к ревью, так и к организации процесса! 🥇

[2019-03-11 21:24] avevlad commented on #1
@another-guy @ntishkevich Code-Splitting #246

[2019-03-13 09:05] another-guy commented on #1
Ещё есть несколько незавершённых переводов на PR, не входящие в "ядро" документации, но в целом, v1 готов! 🎉

**Разумеется, ещё нужна вычитка, полировка и устранение опечаток, но уже достигнут хороший результат. Надеюсь, что перевод в его текущем состоянии снизит "порог вхождения" в React людям, не владеющим английским языком.**

Хочу лично поблагодарить:
@tesseralis и @gaearon за исходный импульс

[2019-03-13 09:18] another-guy commented on #4
Закрываю issue. На неё всё ещё можно ссылаться, но не предвижу больших обсуждений. Для всех новых терминов будем открывать отдельные issue, как это уже не раз происходило.

[2019-03-13 09:18] #4 closed

[2019-03-13 09:27] #94 closed

[2019-03-13 09:32] #188 closed

[2019-03-13 09:52] #202 closed

[2019-03-13 09:57] another-guy commented on #181
@gcor @ntishkevich @Heegiiny @avevlad есть соображения, как лучше переводить?

"Сборщик" -- хорошее русское слово, но лично мне не ясно, насколько оно точное. Склоняюсь к тому, что для тех, кто читает впервые, _сборщик_ попонятнее, чем _бандлер_.

[2019-03-13 10:03] gcor commented on #181
У нас уже есть в терминологии bundler = бандлер, но меня смущают слова, которые встречаются: bundle, bundling, bundled

И их бы я точно не переводил как бандлирование файлов или бандлованные файлы.
Я за сбоку, сборщик, собирание и собранные.

[2019-03-13 10:14] tesseralis commented on #1
AHHHHHHHHH CONGRATS!!!

[2019-03-13 11:07] avevlad commented on #181
`bundling` как бандлирование переводить точно не надо

`bundling` бандлинг

[2019-03-13 11:30] avevlad commented on #181
`bundler` -> сборщик
`bundling` -> сборка

`bundle file` -> ?

@another-guy Я согласен с тем что сборщик попонятнее, чем бандлер. Но непонятно что делать с "bundle" files.

В случает перевода Code Splitting пока предлагаю оставить все как есть, только поправить определение **Бандлинга**:

с

на

[2019-03-13 15:28] gcor opened #253 "UI bug with text on phones"
<img width="320" alt="Screen Shot 2019-03-13 at 6 21 32 PM" src="https://user-images.githubusercontent.com/4715396/54291065-13830580-45bd-11e9-92e0-0270855cb0d3.png">

[2019-03-13 16:15] avevlad commented on #253
Текстом поправить наверно не получится, только стилями:

![image](https://user-images.githubusercontent.com/2889662/54295560-55637a00-45c4-11e9-8957-b7611622d883.png)

Могу заняться этим.

[2019-03-13 18:14] another-guy commented on #181
@gcor, да, я знаю, что у нас в словаре _бандлер_. Но в ряде мест перевели как _сборщик_, а хотелось бы, чтобы перевод был последователен.

@avevlad
bundler -> сборщик  👍
bundling -> сборка  👍
bundle file -> **собранный файл** ❓  (в отличие от _файл сборки_, который допускает двусмысленное толкование)

И тогда можно так написать:

[2019-03-13 18:17] another-guy commented on #253
@gcor эта проблема специфична для 🇷🇺  версии сайта? Если нет, то лучше решать её на уровне reactjs.org. 🤔

Я не силён в CSS, так что точно не смогу помочь. И да, я согласен, что надо проблему решать стилями надо.

[2019-03-13 18:28] avevlad commented on #181
Этот **файл сборки** после подключения на веб-страницу загружает всё приложение за один раз.

----------

**Бандлинг** это хорошо, но по мере роста вашего приложения, ваш бандл также будет расти

**Cборка** это хорошо, но по мере роста вашего приложения, ваш (**собранный файл** | **файл сборки**) также будет расти

-----------

У них есть хорошее руководство по разделению **бандла** с серверным ре

[2019-03-13 18:29] avevlad commented on #181
Да, так клево, постараюсь сегодня (по MSK) успеть обновить #246

[2019-03-14 10:14] vvscode opened #267 "Перевод README"
Будем переводить?

[2019-03-14 16:29] AlLevykin commented on #253
src\pages\index.js
line 316
50% заменить на 100%

[2019-03-14 16:43] avevlad commented on #253
@AlLevykin отличное решение!

Работает и на других языках тоже:
<details><summary>картинка</summary><p>

![image](https://user-images.githubusercontent.com/2889662/54374967-3aab0700-4691-11e9-8497-a3d3b3cc0cdf.png)

</p></details>

<br>

Отправишь PR в https://github.com/reactjs/reactjs.org ?

[2019-03-14 18:13] another-guy commented on #267
Лично я не против, поскольку общий материал уже переведён.

На будущее: давайте, открывая ишью, предоставлять хоть какой-то контекст и мотивацию. Лично мне кажется, что пользы от этого изменения не так много, но я могу заблуждаться.

[2019-03-19 06:25] another-guy commented on #253
@avevlad есть время и желание открыть PR в родительский проект?

[2019-03-19 06:26] another-guy commented on #267
@vvscode вы решили, будете ли переводить README? Раз возражений не слышно, этим можно заняться.

[2019-03-19 06:29] another-guy commented on #1
@Heegiiny, @tesler, как обстоят ваши дела с переводами _Codebase Overview_ и _Implementation Notes_? Будьте добры открыть хотя бы draft pull request для этих переводов. Если у вас нет времени, кто-то мог бы подхватить и довести дело до конца.
Спасибо!

[2019-03-19 07:33] vvscode opened #273 "Перевод блога"
- [ ]  JSFiddle Integration
- [ ]  Why did we build React?
- [ ]  "Community Round-up #1"
- [ ]  "Community Round-up #2"
- [ ]  "React v0.3.3"
- [ ]  "Community Round-up #3"
- [ ]  "New in React v0.4: Autobind by Default"
- [ ]  "Community Round-up #4"
- [ ]  "New in React v0.4: Prop Validation and Default Values"
- [ ]  "React v0.4.0"
- [ ]  "Community Round-up #5"
- [ ]  "React v0.4.1"
- [ ]  "U

[2019-03-19 16:46] another-guy commented on #273
@vvscode мне кажется, для сообщества более важны актуальные посты, чем исторические. Поэтому я отсортировал посты в обратном (обратном хронологическом?) порядке, и по ним можно идти сверху вниз.

[2019-03-19 16:46] #267 closed

[2019-03-19 17:02] avevlad commented on #253
@another-guy да, на днях займусь. Но issue оказалась чуть сложнее чем я думал, по поим тестам  решение:

[code]

не очень корректно работает на некоторых разрешениях в en версии, нам и другим языкам оно помогает, а оригинальная версия выглядит хуже. Пока предлагаю поправить этим вариантом у нас, а как найду решение для всех разрешения и языков, создам PR в родительский проект.

[2019-03-19 17:30] another-guy commented on #253
@avevlad понял. В любом случае, у нас тут этот issue не должен "висеть", имхо

[2019-03-19 17:50] vvscode commented on #273
`"React v16.8: The One With Hooks"` готов взять

[2019-03-20 08:28] gcor commented on #273
Где-то я видел, но не могу найти, советовали переводить статьи не в хронологическом порядке, а брать вначале те, которые дополняют документацию.

Например, я бы назвал самой приоритетной статью https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html

[2019-03-20 16:27] SurenAt93 opened #280 "possible translation mistakes"
Ребята всем привет. Я перевожу React на армянский. Сегодня во время перевода очередной статьи, я наткнулся на одно "нестандартное" предложение. Хотел узнать как вы его перевели, посмотрел ваш вариант, и он по-моему не очень правильный. Речь об этой ([RUS](https://ru.reactjs.org/docs/state-and-lifecycle.html)/[ENG](https://reactjs.org/docs/state-and-lifecycle.html)) статье, и про это предложение:

[2019-03-20 17:55] ntishkevich commented on #280
Дельно замечание, спасибо 👍 💪! Мне нравится первый предложенный вариант. А как думаете, если заменим слово «положим» на «поместим» станет ли лучше?

[2019-03-20 18:52] SurenAt93 commented on #280
Для меня, интуитивно, более подходящий вариант - это «поместим». Но, интуитивно... Я воздержусь сказать что-то по этому поводу, потому что могу не понять некоторые тонкости русского языка (я не носитель языка), можем подождать других мнений.

И я наткнулся на еще одно предложение, которое можно улучшить, я немного позже напишу здесь, пока еще не закройте пожалуйста этот issue.

[2019-03-20 20:09] SurenAt93 commented on #280
Так, в оригинале есть такой кусок из двух предложений:

[code]

Вы это перевели как:

[code]

Во первых, по моему, в переводе первого предложения слова автора немного искажены (мы например уделяем большое внимание на слова/структуру оригинала/автора). Во вторых, по моему, перевод второй части не правильный:

`this.setState() планирует обновление внутреннего состояния компонента:`

Tак, я думаю что

[2019-03-20 23:20] another-guy commented on #280
@SurenAt93 вы всё правильно говорите! Спасибо огромное за замечания! Поправим эти места.

[2019-03-20 23:21] another-guy commented on #273
@gcor тоже вариант, но тогда неплохо бы всё-таки найти курируемый список приоритета переводов.

[2019-03-21 06:24] SurenAt93 commented on #280
@ntishkevich, @another-guy You are welcome guys! Если я наткнусь на что-то еще, напишу здесь.

[2019-03-21 07:23] #280 closed

[2019-03-21 16:03] another-guy commented on #280
@SurenAt93 непременно пишите. И, если есть время, открывайте pullrequest, это ускорит процесс. Мы особенно доверяем и внимательны к замечаниям переводчиков на другие языки.

[2019-03-21 18:42] ntishkevich commented on #224
Страница была переведены в #266. Закрываю ишью

[2019-03-21 18:42] #224 closed

[2019-03-22 14:47] StepanNaryshkov commented on #253
Если что, этот баг на всех языках, если много текста, надо фиксить с расчетом на то, что текст может и вместить и нет

[2019-04-01 03:22] tesseralis commented on #1
@lex111 @gaearon @another-guy could someone look at the [sync PR](https://github.com/reactjs/ru.reactjs.org/pull/291)? It hasn't been updated for a few weeks

[2019-04-04 10:17] arsts commented on #273
"React v16.7: No, This Is Not the One With Hooks"  готов взять

[2019-04-05 21:43] #235 closed

[2019-04-24 18:06] lex111 commented on #253
Исправлено в #306

[2019-04-24 18:06] #253 closed

[2019-06-05 04:16] another-guy commented on #181
@gaearon каким путём идти? У нас и _бандлер_ и _сборщик_ есть в разных местах. Хотелось бы всё же определиться и сделать в одном стиле.

В этом issue, вроде бы, сходимся на том, что "сборщик" более "по-русски", но git blame мне сказал, что в словарь _бандлер_ добавил ты и мне как-то некомфортно идти против. Проясни, пожалуйста, и можно будет сварить pull request для этой долгоиграющей issue.

[2019-06-06 07:42] #232 closed

[2019-07-02 08:03] Dissarion opened #350 "Не переведенная страница Shallow Compare"
Не уверен, но возможно эта страница была пропущена https://ru.reactjs.org/docs/shallow-compare.html

[2019-07-13 07:15] ntishkevich commented on #350
Верно, эта страница была упущена, ее не было в списке страниц к переводу в [задаче](https://github.com/reactjs/ru.reactjs.org/issues/1 ) к обязательному переводу. Не могли бы рассказать где встречалась ссылка или как удалось перейти на указанную вами страницу ?

Мы будем рады вашей помощи в дальнейшем, спасибо.

[2019-07-16 09:03] Dissarion commented on #350
Эти ссылки были получены из результатов поисковой выдачи гугла https://imgur.com/a/9FqHzbo

[2019-07-23 05:33] IgorLesnevskiy opened #364 "Некорректное отображение «кавычек-елочек»"
Обнаружил на странице https://ru.reactjs.org/docs/forwarding-refs.html некорректное отображение кавычек - https://take.ms/8IRqS.

При этом в `.md` все указанно корректно - https://take.ms/mNZWm.

Насколько понимаю, может быть следствием https://github.com/reactjs/ru.reactjs.org/issues/35

[2019-07-27 09:51] gcor commented on #350
Страница переведена.

[2019-07-27 09:51] #350 closed

[2019-07-30 19:36] gcor commented on #273
@lex111, @ntishkevich, @another-guy
Кажется идея с переводом блога не очень пошла. Большой список скорее демотивирует.

Предлагаю сократить текущий список и закрыть задачу или создать несколько задач для важных страниц из блога с тегами good first issue и help wanted. По аналогии с репозиторием португальского перевода https://github.com/reactjs/pt-BR.reactjs.org/issues

На мой взгляд подходящие ст

[2019-07-31 19:25] ntishkevich commented on #273
Тогда я предложил бы вариант с тем, чтобы выделить из текущего списка некоторые статьи из блога как отдельные задачи. Вот примерный список тех статей,которые я бы выделил в перевод первым делом.
-  "Is React Translated Yet? ¡Sí! Sim! はい！"
-  "React v16.8: The One With Hooks"
-  "React v16.7: No, This Is Not the One With Hooks"
-  "React 16.x Roadmap"
-  "React Conf recap: Hooks, Suspense, and Conc

[2019-08-04 19:45] ntishkevich commented on #364
Спасибо вам за ваш ишью, действительно это связано с плагином `gatsby-remark-typography` для `Gatsby`, а в частности связано с `Typograf` и последовательностями нескольких символов `*»:`.

[2019-08-14 05:18] ntishkevich opened #381 "Перевод новой секции "Testnig""
**Прежде чем переводить, обязательно прочитайте [местные правила перевода](https://github.com/reactjs/ru.reactjs.org/blob/master/TRANSLATION.md)!**

Вы можете перевести страницу из документации! Это делается в три шага:
1. Напишите, какую страницу вы ходите перевести. **Пожалуйста, не берите больше одной страницы за раз**.
2. Когда страница готова, отредактируйте ваш комментарий, чтобы добавить но

[2019-08-14 05:22] ntishkevich opened #382 "Перевод страницы Profiler"
**Прежде чем переводить, обязательно прочитайте [местные правила перевода](https://github.com/reactjs/ru.reactjs.org/blob/master/TRANSLATION.md)!**

Появилась новая страница в секции с продвинутыми темами
- [ ] [Profiler](https://github.com/reactjs/ru.reactjs.org/blob/master/content/docs/reference-profiler.md) (✏️ @IgorLesnevskiy)

[2019-08-21 07:19] shdq commented on #381
Привет, начну с testing overview.

[2019-08-21 07:52] ntishkevich commented on #381
Здорово 💪, закрепил за вами эту страничку.

[2019-08-22 07:21] IgorLesnevskiy commented on #1
Возьму в перевод **Docs -> Profiler API**, вроде не нашел о об этой странице ничего выше

[2019-08-22 07:22] ntishkevich commented on #1
Для этой страницы, как для новых связанных с тестированием. я создавал отдельную задачу #382

[2019-08-22 07:26] IgorLesnevskiy commented on #382
если ей никто не занимается, то возьму в перевод, на выходных сделаю

[2019-08-23 07:57] shdq commented on #381
Переведу testing recipes

[2019-08-28 09:49] shdq commented on #381
Раз я в контексте раздела, testing environments тоже переведу.

[2019-09-03 08:24] Dissarion opened #395 "Перевод страницы Immutability Helpers"
Нет перевода этой страницы https://ru.reactjs.org/docs/update.html

Найдена эта страница на SO https://stackoverflow.com/a/29537485/10145626

Так же страница гуглится, если делать запрос на русском.

[2019-09-04 07:21] #382 closed

[2019-09-09 18:13] lex111 commented on #395
В общем, особого смысла нет.

[2019-10-02 02:51] NMinhNguyen commented on #364
Можно я попытаюсь найти, в чём проблема?

[2019-10-02 06:19] Dissarion commented on #395
За ненадобностью перевода - закрываю

[2019-10-02 06:19] #395 closed

[2019-10-03 00:48] NMinhNguyen commented on #364
Я продебажил чуток, и проблема заключается в том, что текст разбит на разные части, и в общем

разбивается на следующие части:
1. `Например, вот этот компонент будет называться «`
1. `ForwardRef` (скорее всего из-за `*`)
1. `»:`

Когда `»:` проходит через `Typograf`, то, насколько я понимаю, он считает, что эта кавычка - первая попавшаяся в этой строке, и поэтому пытается её превратить в `«`. Не з

[2019-10-04 08:32] lex111 commented on #364
То есть просто использовать двойные кавычки (ведь они и так потом во французские преобразуются )в исходных текстах? Или я не так понял проблему?

[2019-10-04 08:35] lex111 opened #408 "Перевод раздела "Сообщество""
Есть вложенные страницы в разделе ["Поддержка"](https://ru.reactjs.org/community/support.html), там не нужно все переводить, достаточно заголовка и описания.

Например, в случае со страницей "Конференции", нужно перевести показанный на скриншоте текст
![image](https://user-images.githubusercontent.com/4408379/66193344-fcac1980-e69a-11e9-9fe5-7ae0aa9d92f7.png)

Однако в страницах раздела "Инструмен

[2019-10-04 08:38] NMinhNguyen commented on #364
Не в этом проблема. Проблема в том, что текст разбивается на токены, мы фильтруем по типу `text`, и потом каждый `text` токен передаём в `Typograf`: https://github.com/reactjs/ru.reactjs.org/blob/ad78b8eb0fb01d6ba5feed2959c9a1f5cb977483/plugins/gatsby-remark-typography/index.js#L7-L20

Но начало и конец токенов не всегда соответсвует началу и концу предложения/абзаца.

Насколько я понимаю, та же с

[2019-10-04 11:41] uladzislau-kirychenka commented on #408
Займусь этим!

[2019-10-04 12:17] lex111 commented on #408
:+1:

[2019-10-05 07:38] lyskos97 commented on #273
Хочу взять на перевод "Is React Translated Yet? ¡Sí! Sim! はい！"

[2019-10-05 07:38] lex111 commented on #273
Отлично! :+1:

[2019-10-08 11:36] lyskos97 commented on #273
Могу зацепить "React Conf recap: Hooks, Suspense, and Concurrent Rendering" на перевод?

[2019-10-08 11:44] ntishkevich commented on #273
Это здорово!

[2019-10-14 23:18] lex111 commented on #408
@uladzislau-kirychenka как дела с переводом?

[2019-10-15 09:00] uladzislau-kirychenka commented on #408
@lex111 надеюсь на выходных сделаю пр, тулы перевожу сейчас

[2019-10-20 14:07] lyskos97 commented on #273
Хочу перевести "React v16.6.0: lazy, memo and contextType"

[2019-10-29 16:15] gcor opened #422 "Перевод раздела Concurrent Mode"
- [x] Introducing Concurrent Mode @gcor #453
- [x] Suspense for Data Fetching @shdq #446
- [x] Concurrent UI Patterns @SmolinPavel #472 (файл был удален в английской документации)
- [x] Adopting Concurrent Mode @AlLevykin #430
- [x] Concurrent Mode API Reference @AlLevykin #463

**Полезные материалы:**
- [Текущее соглашение о переводе](https://github.com/reactjs/ru.reactjs.org/blob/master/TRANSLAT

[2019-10-29 16:26] gcor opened #423 "Терминология: concurrent mode"
Варианты:
– Параллельный режим
– Конкурирующий режим
– Конкурентный режим
– Одновременный режим

Первый вариант переводят все популярные переводчики. Плюс в википедии есть статья про параллельные вычисления (Concurrent computing).

[2019-10-29 18:27] gaearon commented on #423
Параллельный близко по смыслу, но вносит путаницу с полным параллелизмом. Который может быть когда-нибудь и появится в будущем.

[2019-10-29 18:31] gaearon commented on #423
Вброшу еще пару вариантов:

- Совместный режим
- Согласованный режим
- Одновременный режим
- Многозадачный режим

[2019-10-29 18:41] gorkunov commented on #423
**Конкурентный режим**  будет самое понятное, т.к. очень близко к оригиналу и не теряет сути.

[2019-10-29 18:41] andreypopp commented on #423
* Многопоточный режим (но есть может возникнуть путаница преемптивной многопоточностью)
* Мультипоточный режим (звучит как новоизобретённый термин)

На мой взгляд, у термина Конкурентный Режим есть очень большое преимущество в созвучии с оригинальным Concurrent Mode. Читателям документации все же полезно знать оригинальные термины, так как за пределами ru.reactjs.org информация по теме будем в осн

[2019-10-29 19:24] gaearon commented on #423
В интернетах я тоже в основном нахожу «конкурентный» когда идет обсуждение concurrent vs parallel. Конкурентный ок. Не идеально, но наверное лучший вариант из тех, что есть.

[2019-10-29 19:28] sergeypedan commented on #423
Собегущий режим

[2019-10-29 19:29] nick-rudenko commented on #423
**Конкурентный режим** - безусловно, наиболее подходящий вариант, но само слово "конкурентный" вводит в заблуждение. Думаю в документации стоит сделать небольшую сноску с растолкованием этого слова.

[2019-10-29 19:35] gaearon commented on #423
Лично мне больше всех нравится Совместный режим.

[2019-10-29 19:37] gaearon commented on #423
Главная фича — это то, что пока выполняется один setState, можно сделать другой. То есть они выполняются совместно (и впоследствии мёржатся). Рантайм модель по сути это совместная (кооперативная) многозадачность.

[2019-10-29 19:39] gaearon commented on #423
Хотя Concurrrent Mode и Совместный Режим не прямой перевод, они хотя бы визуально похожи по первым буквам и их количеству. Так что какая-то связь остется.

[2019-10-29 19:43] gaearon commented on #423
Есть еще такая штука. Если русский термин длиннее английского, люди в разговоре все равно начнут использовать английский. Просто потому что короче. Так что хотелось бы не больше трех слогов для перевода concurrent.

[2019-10-29 19:51] ivansvlv commented on #423
Не согласен, как по мне в переводе утерян смысл. **Согласованный режим** в моем понимании звучит наиболее понятней. Аргументация ниже.

Wikipedia:

Процессы не могу выполнятся одновременно, их жизненный цикл проходит в одно время, но в процессе выполнение каждому дается вычислительное время. Поэтому процессы **Согласовывают** время своего выполнения, начало и конец процесса.

Если читать English-E

[2019-10-29 20:01] adaniliuk commented on #423
Возможно, тогда **Кооперативный режим**? Он ближе всего будет по смыслу к вариантам **Совместный режим** или **Согласованный режим**.

p.s. **Конкурентный режим** - тоже очень ок и созвучно с оригиналом.

[2019-10-29 20:39] VeronikaHar commented on #423
Конкурентный режим - самый адекватный перевод и с психологической точки зрения, тк в связи с его созвучностью с concurrent mode, мозг быстрее его впишет в систему и легче будут восприниматься крос-язычные контексты.

[2019-10-29 21:11] KrickRay commented on #423
режим совмещения / совмещенный режим

[2019-10-29 21:59] Snuux commented on #423
Я тоже за конкурентный режим. А еще можно "режим конкурентности".

[2019-10-30 04:35] infodusha commented on #423
Как вариант еще "соревновательный режим"

[2019-10-30 05:55] atellmer commented on #423
Google translate говорит, что **con** - "против", а **current** - "текущий". Против текущего) Ну тут по смыслу только "конкурентный" подходит)

[2019-11-04 13:20] BogdanDor commented on #1
Codebase overview https://github.com/reactjs/ru.reactjs.org/pull/427

[2019-11-05 20:13] AlLevykin commented on #422
Могу взять раздел Adopting Concurrent Mode (concurrent-mode-adoption.md).

[2019-11-06 00:23] lex111 commented on #423
Вариант "Конкурентный режим" звучит неплохо, как по мне, не так давно в переводе одного поста в блоге именно так перевели. Хотя "Совместный режим" по-моему тоже очень хорошо, но большинство людей, как я вижу, за первый вариант, поэтому лучше остановиться на нём.

cc @reactjs/reactjs-org-russian-translation

[2019-11-06 13:38] gaearon commented on #423
👍

[2019-11-07 09:28] shdq commented on #422
Привет, переведу Suspense for Data Fetching.

[2019-11-11 22:34] uladzislau-kirychenka commented on #408
@lex111  Перевел главу "Ресурсы сообщества", нет времени перевести "Инструменты", стоит делать ПР для этого?

[2019-11-11 22:36] lex111 commented on #408
@uladzislau-kirychenka как хорошо, что вы не занимались переводом этого раздела, его недавно удалили в оригинале, так что и в переводе его уже нет, соответственно и переводить нечего :smiley:

[2019-11-11 23:29] uladzislau-kirychenka commented on #408
@lex111 звучит как невероятная удача) сделаю пр завтра

[2019-11-14 15:56] BogdanDor commented on #1
Implementation notes https://github.com/reactjs/ru.reactjs.org/pull/433

[2019-11-17 04:04] AlLevykin commented on #422
Могу взять раздел Concurrent Mode API Reference (concurrent-mode-reference.md).

[2019-11-17 10:01] SmolinPavel commented on #422
Готов взять Concurrent UI Patterns

[2020-02-11 15:08] lex111 commented on #422
@SmolinPavel как дела с переводом?

[2020-02-12 08:32] SmolinPavel commented on #422
@lex111 пока готов на 30%, постараюсь ускориться и на выходных сделаю PR

[2020-02-23 14:44] lex111 commented on #422
@SmolinPavel может нужна помочь с переводом? Можно создать черновик перевода, чтобы ускорить процесс.

[2020-02-25 07:06] SmolinPavel commented on #422
@lex111 будет нужна помощь, создал черновик https://github.com/reactjs/ru.reactjs.org/pull/472

[2020-03-16 10:50] ntishkevich commented on #1
По списку задач остался перевод блога и раздела "Сообщество", для которых есть отдельные ишьюсы #273 и #408 соответственно. Думаю, это задачу можно закрывать. @lex111, @gcor что думаете по поводу закрытия этой ишью?

[2020-03-20 09:05] gcor commented on #1
@ntishkevich, согласен

[2020-04-14 17:41] YChebotaev commented on #423
Может, вытесняющий режим?

Если я все правильно понял, то принцип ровно точно такой же, как и при вытесняющей многозадачности в ОСах. Выделяется квант времени, и если какая-то другая задача более приоритетна, она вставляется между квантами. А потом управление возвращается.
Старая-добрая концепция, всем давно понятная.

[2020-04-23 12:42] AleksandrZhukov opened #491 "Избыточный перевод кода"
В документации помимо описания так же переведен код, например, здесь переведен текст ошибок.
https://github.com/reactjs/ru.reactjs.org/blame/2451dcd4e4b26498acd5b7b4f3a582bdb5b48d35/content/docs/typechecking-with-proptypes.md#L113

В переводах на другой язык эта часть остается на английском.

[2020-04-25 08:25] gcor commented on #491
Вам кажется это неверным?

Если человек не знает английский, ему будет удобнее разобраться на русском.

[2020-04-26 12:55] AleksandrZhukov commented on #491
да, Вы правильно меня поняли
Одно дело документация, но комментарии в коде, вывод ошибок и тд должно быть на едином языке разработки - английском
Согласитесь, если вы попадете на проект к японцам (как пример), а там все комментарии, названия переменных(транслитом) и прочее будет на японском вам будет крайне сложно разобраться в таком коде

[2020-04-26 13:26] gcor commented on #491
Цель документации — помочь разобраться.
Помогать разбираться можно и в теории и в практике = и в тексте и в коде.

Процессы разработки конкретной компании и негласные правила это другое.

[2020-04-27 17:34] lex111 commented on #491
Тоже не понимаю суть претензии, особенно сравнение с промышленной разработкой, это вообще сугубо индивидуально.

Тем более в общем руководстве по переводам это не запрещено https://github.com/reactjs/reactjs.org-translation/blob/master/style-guide.md#text-in-code-blocks
Поэтому мы стараемся переводить по максимуму всё, что можно.

Ну и кстати, украинцы и поляки тоже перевели эти ошибки. И как мне

[2020-04-27 17:34] #491 closed

[2020-05-06 21:49] HryshkoAnton opened #496 "tic tac toe"

[2020-06-03 11:48] gcor commented on #496
Добрый день, закрываю issue из-за отсутствия активности

[2020-06-03 11:48] #496 closed

[2020-06-03 11:49] #1 closed

[2020-06-03 11:50] #102 closed

[2020-06-18 19:29] karpa4o4 commented on #273
Готов взять `Create React App 2.0: Babel 7, Sass, and More`.

[2020-06-19 04:48] Padavan-itbeard opened #513 "There is no link to the next section in the version https://ru.react.js.org/docs/introducing-jsx.html"
1) раздел - JSX представляет из себя объекты
В предложении "Мы рассмотрим отрисовку элементов React в DOM в следующем разделе." отсутствует линк на следующий раздел. Как сделано в англо язычной версии - We will explore rendering React elements to the DOM in the next section.

2) раздел - Почему JSX?
В предложении "Мы вернёмся к компонентам в следующем разделе, но если вы ещё не очень хорошо умеет

[2020-06-19 10:15] gcor commented on #513
@Padavan-itbeard, если у вас есть возможность, вы можете сами создать пул-реквест с правками и мы их примем.

[2020-06-19 15:18] Padavan-itbeard commented on #513
Привет, я с удовольствием. Но не нашел репо русской версии, которая лежит на сайте. Поделитесь линком?19.06.2020, 13:16, "Anton Ahatov" <notifications@github.com>:
@Padavan-itbeard, если у вас есть возможность, вы можете сами создать пул-реквест с правками и мы их примем.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-19 17:22] ntishkevich commented on #513
Держите ссылку https://github.com/reactjs/ru.reactjs.org
Вы в нем создали ишью эту : D

[2020-06-19 20:15] Padavan-itbeard commented on #513
Жесть) На Git Hub лежит другой текст)) И где читать? )) Issues можно закрыть, здесь такого фрагмента нет

[2020-06-23 06:24] #513 closed

[2020-07-09 22:14] #423 closed

[2020-07-19 08:01] YChebotaev opened #520 "Сделать настройку для русского перевода, чтобы перекидывало на английский"
У меня гугл на русском (я его использую не только для программирования), и когда я хочу что-то найти по реакту, он находит русский перевод.

Мне не привычно и не приятно читать русский перевод, поскольку приходится в уме переводить его обратно на английский, чтобы было понятно о чем именно тут говорится.

Я вообще всю документацию по всему что связанно с программированием читаю только на английско

[2020-07-23 11:07] ntishkevich commented on #520
Привет. Мы в этом репозитории занимаемся переводом документации. Любые улучшения сайта следует оформлять в issues к репозиториию с официальной английской документацией https://github.com/reactjs/reactjs.org. После реализации там новых фич, они попадут к нам через пулл реквест. Данный ишью закрываю.

[2020-07-23 11:07] #520 closed

[2020-07-23 13:50] YChebotaev commented on #520
@ntishkevich Спасибо за подсказку.

[2020-08-10 09:34] YChebotaev commented on #520
https://github.com/reactjs/reactjs.org/issues/3187

[2020-09-17 14:52] hodovani commented on #273
Возьму `JSFiddle Integration`.

[2020-09-17 15:18] hodovani opened #545 "Локально не запускается проект"
Я следовал [инструкциям](https://github.com/reactjs/ru.reactjs.org#%D0%B7%D0%B0%D0%BF%D1%83%D1%81%D0%BA-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0-%D0%BB%D0%BE%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE) для запуска проекта локально, но получил ошибку. Ниже пример вывода терминала.

[code]

Буду рад предоставить дополнительные детали для уточнения ошибки.

[2020-09-17 15:32] hodovani commented on #545
Проблема решилась через установку `node v12.16.3 (npm v6.14.4)` для локального запуска.

[2020-09-17 15:32] #545 closed

[2020-09-28 17:47] peakercope commented on #273
Готов взять "Introducing the React Profiler"

[2020-12-03 10:17] pavelkudr opened #582 "Я не знаток но подозрительно"
страница https://ru.reactjs.org/docs/state-and-lifecycle.html
"Обратите внимание, что мы передаём props базовому (родительскому) конструктору:"

Почему то мне кажется мы передаем не родительскому а дочернему
Прошу прощения если я не прав

[2020-12-27 17:25] lex111 commented on #582
Нет, всё верно, `super(props)` - это как раз вызов конструктора родительского компонента (`React.Component`), которому мы передаём пропсы текущего (дочернего) компонента (`Clock`).

[2020-12-27 17:25] #582 closed

[2021-01-19 11:44] it-efrem opened #594 "Поправить битую ссылку"
**На странице**
`https://ru.reactjs.org/docs/events.html`

**В блоке**
`Начиная с 17 версии, вызов e.persist() не имеет смысла, потому что объекты событий SyntheticEvent больше не добавляются в пул.`

По факту ссылка
`https://ru.reactjs.org/docs/legacy-event-%D0%BF%D1%83%D0%BB%D0%B8%D0%BD%D0%B3.html`

Должна быть
`https://ru.reactjs.org/docs/legacy-event-pooling.html`

[2021-01-24 20:53] lex111 commented on #594
Спасибо, исправлено.

[2021-01-24 20:53] #594 closed

[2021-04-16 19:49] Lehakos opened #624 "Добавлять в скобках английские термины"
Мне кажется было бы полезно, когда вводится какой-то новый термин, в скобках указывать оригинал на английском. Например:

Можно было бы в скобках указать controlled

[2022-04-17 18:35] kostia-lev commented on #422
я не понимаю почему Concurrent mode перевели как Конкурентный режим?
![image](https://user-images.githubusercontent.com/1144764/163727872-a2933f42-7479-4278-8180-9847d010e6ef.png)

[2022-04-17 18:43] shdq commented on #422
@kostia-lev было обсуждение термина, загляни в issue https://github.com/reactjs/ru.reactjs.org/issues/423

[2022-05-04 17:52] BaranovRoman opened #744 "Некорректный код в переводе страницы"
Страница - https://ru.react.js.org/docs/state-and-lifecycle.html#%D0%94%D0%BE%D0%B1%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BB%D0%BE%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE-%D1%81%D0%BE%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D1%8F-%D0%B2-%D0%BA%D0%BB%D0%B0%D1%81%D1%81

В блоке кода отображается this.props.date вместо this.state.date
В репозитории в документации корректный код, в сгенери

[2022-05-09 06:20] ntishkevich commented on #744
Указанная вами ссылка, ведет не на официальную [русскую документацию React](https://ru.reactjs.org/). Об это даже плашечка на сайте говорит.
Также сообщу, что в[ официальной русской](https://ru.reactjs.org/docs/state-and-lifecycle.html) нет проблемы этой, можете проверить самостоятельно
Закрываю.

[2022-05-09 06:20] #744 closed

[2022-05-26 04:11] Vasyamsk opened #749 "F"

[2022-05-26 06:09] #749 closed

[2022-07-10 18:47] KiraBurova opened #764 "Вопрос: Будем ли переводить новую документацию с Beta сайта?"
Собственно вопрос в заголовке)
Хотелось бы вписаться в перевод новой документации, видимо для начала надо создать issue с чек листом отсюда https://github.com/reactjs/reactjs.org/issues/4135
Это планируется / этим можно заняться?

[2022-11-08 13:26] manInit opened #786 ""Измерять раскладку" звучит странно"
На странице [использование хуков](https://ru.reactjs.org/docs/hooks-effect.html#:~:text=%D1%8D%D1%82%D0%BE%20%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C%20(%D0%BD%D0%B0%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80%2C-,%D0%B8%D0%B7%D0%BC%D0%B5%D1%80%D1%8F%D1%82%D1%8C%20%D1%80%D0%B0%D1%81%D0%BA%D0%BB%D0%B0%D0%B4%D0%BA%D1%83,-)%2C%20%D0%BD%D0%BE%C2%A0%D0%B4%D0%BB%D1%8F%20%D1%8D%D1%82%D0%BE%D0%B3%D0%BE) текст "measur